[2017-04-17 16:15] philpl opened #2 "Update / Improve documentation narrative & content"
Most of the content right now is from the—fairly outdated—docs in the styled-components repo.

It'd be great to take the time to think about the sections, narrative, missing content, current content, etc.

[2017-04-17 16:24] mxstbr opened #3 "Move website to main repo when finished"
I'd hate for the docs to be outdated because you can't update the docs and code at the same time. I'd prefer the website (when finished) to live in the same repo as the code if at all possible!

[2017-04-17 16:25] mxstbr commented on #2
We definitely need a big section about why you would do any of this!

[2017-04-17 16:29] philpl commented on #2
@mxstbr Maybe we can rewrite the transcript of your talk here into a short raison d'être? The transcript is already there :P https://pusher.com/sessions/meetup/reactivate-london/from-css-preprocessors-to-styled-components

[2017-04-17 16:47] philpl commented on #3
Since we have an issue tracking this now I changed the repo's description :)

[2017-04-17 17:29] philpl commented on #2
@mxstbr @oliverturner I wrote an initial "Motivation" section, based on the talk at Reactivate. Maybe you guys want to iterate on this? https://github.com/styled-components/styled-components-website/blob/master/components/basics/motivation.js

[2017-04-17 17:36] oliverturner commented on #2
I guess the person I'd love to hear from most as far as motivation is concerned is @geelen :)

[2017-04-17 23:18] geelen commented on #2
Yeah I should definitely write up a few things, but there's not much chance I'll get to that in the next two weeks, sorry.

As for the homepage, I don't mind the split view with live coding possibilities, but visually it's a bit heavy at the moment. I'd leave the original code snippet photo there for the moment, or pick a demo that's a bit less prominent (maybe a couple of buttons, no white backgr

[2017-04-18 13:26] pavelsuraba opened #4 "LiveEdit overflow"
Hey guys, I have a proposition to improve docs.
In Regards to LiveEdit components where you can scroll inside.

The problem is when you scroll over top or bottom inside LiveEdit component, then you scroll with the whole page and you mess up your scroll position. Which seems super annoying to me.

Here is a demo if you don't know what I mean.
http://codepen.io/pavelsuraba/full/bWVoBO/

Anyway it's

[2017-04-18 13:36] philpl commented on #4
@pavelsuraba that is definitely a possibility, I've implemented some scroll-blockers in the past.

The big trouble with them is: They don't work well AND solutions sometimes aren't cross-browser compatible.

Even in your solution, if you scroll a bit faster, the window "jumps". So I'm a bit reluctant to go ahead with this, because most of the time it's really time consuming :wink:

[2017-04-18 14:14] philpl commented on #2
@geelen I think you're right about the homepage liveedit example. What about if we use the current styled-component website's code in a simple CodeBlock?

![localhost-3000- 1](https://cloud.githubusercontent.com/assets/2041385/25135228/ab05e5c2-2449-11e7-8bd8-5a739e306beb.png)

[2017-04-18 14:58] philpl commented on #4
@pavelsuraba I must be mad since I started working on this anyway 😆

https://github.com/styled-components/styled-components-website/pull/5

This currently improves the scroll blocker a little bit, by blocking as well, when the trajectory is aiming to overshoot the scroll area.

The only thing I'd like to add as well to this is to only scroll `window` when the scrolling originates from there. Other

[2017-04-18 15:28] pavelsuraba commented on #4
👍  looks good. I was wondering that I can't be the only one who finds this annoying.

[2017-04-18 15:30] philpl commented on #4
@pavelsuraba I added the exceptions for when the window is being scrolled, and mobile. It'd be great if you could help me test it on multiple devices 😄

[2017-04-18 15:42] pavelsuraba commented on #4
**@philpl** I am totally for sidebar as well.
I'll definitely take a look when I get a chance. From my experience touchpad and mouse works fine.
But mobile won't work since you use 'wheel' event. I don't consider it an issue, because it's not so bad on touch screen.

[2017-04-18 15:43] philpl commented on #4
@pavelsuraba Yea, I added some code to explicitly disable it on mobile devices (< 1000px width), since the design of a lot of components change at that breakpoint to accommodate touch devices.

I guess I'll just merge it, and if sth goes wrong we can still open another issue

[2017-04-18 15:45] #4 closed

[2017-04-18 20:18] satya164 opened #6 "Add demos for React Native using Snack"
Snack allows to type React Native code in browser and preview directly in the browser with appetize.io simulator, or on a real device. Snack has a embed widget for embedding the editor in a web page.

https://snack.expo.io

[2017-04-18 23:18] geelen commented on #2
Yeah that works well

[2017-04-20 12:31] philpl commented on #6
@jacobp100 I've seen on this issue, that you'd like to add some more content for React Native. Do you have an idea about the Snack embed as well? I'm not really sure how well it would play with the rest of site :/

https://github.com/styled-components/styled-components/issues/709

[2017-04-20 12:44] jacobp100 commented on #6
Appetize is one solution. What does this provide over screenshots and the occasional gif?

[2017-04-20 12:51] satya164 commented on #6
@philpl lemme know if you have any specific concerns about the embed widget. The styles are pretty neutral, so it should blend in with any website. I'm open to tweak it further if there are specific things you don't like.

@jacobp100 https://blog.expo.io/sketch-a-playground-for-react-native-16b2401f44a2

[2017-04-20 12:54] jacobp100 commented on #6
I'm not opposed to adding it. What's the aim with this?

I think we assume they know React Native styling, and we're just telling them how things translate. In which case, do they need live demos?

Or maybe we assume they've never used React Native before?

[2017-04-20 13:20] philpl commented on #6
@jacobp100 I believe the current section on React Native won't get much longer anyway. And adding a demo for something that is arguably identical to how it works on the web is... unnecessary, dare I say

https://sc-next-docs.philpl.com/docs/basics#react-native

[2017-04-23 10:02] mxstbr opened #7 "Add section about using styled-components with third-party component libraries"
Not many people are aware that you can use styled-components with any third-party component library by just doing

[code]

We should add that somewhere in the docs!

[2017-04-23 10:03] mxstbr commented on #2
I feel like the code block should be tighter there, in the sense that there's a lot of wasted black space?

[2017-04-23 10:09] mxstbr commented on #6
There's actually a lot more to say about ReactNative @philpl. I want that to be its own section that explains all the features @jacobp100 built into `css-in-react-native`, with live demos and all that jazz.

We don't have a lot of traction in the ReactNative community yet, and the big reason for that is that folks aren't aware they can use `styled-components` in ReactNative. Having an dedicated se

[2017-04-23 12:42] philpl commented on #2
@mxstbr True that, I'll change the width of the container on the homepage

[2017-04-23 12:43] philpl commented on #6
@mxstbr Any chance you've got an idea for an outline of this section and an idea on how to make the live demos work? Can we maybe use react-native-web for those live demos?

https://github.com/necolas/react-native-web

[2017-04-23 12:44] philpl commented on #7
It's actually already there: https://sc-next-docs.philpl.com/docs/basics#styling-any-components

The section was called "Third-party components" before though, but it was renamed on the `v2` branch to "Styling any components."

[2017-04-23 19:26] mxstbr commented on #7
Oh, nice!

[2017-04-23 19:26] #7 closed

[2017-04-23 19:26] mxstbr commented on #6
Why do we not want to use Snack?

[2017-04-23 20:13] philpl commented on #6
@mxstbr So I had a couple of things in mind when thinking Snack vs React Native Web:

- Right now the site is 100% viewable and usable on a mobile device. The code is readable and the demos are visible. (I'd assume that no-one would want to edit them on a phone though)

- We've got a service worker so that every page of the docs that a user has visited is available offline, with the demos intact.

[2017-04-24 10:06] satya164 commented on #6
You *could* chose to use React Native for Web, but it's not React Native. Feature set on web is hugely different from native, and it will give false impression of things working in a demo which doesn't actually work in a real device. IMO if you're not providing a real demo, there's not much point of having a demo for React Native since it's not any different from rest of the demos.

On a mobile de

[2017-05-11 13:29] superhighfives opened #10 "Unable to scroll the documentation menu when at a small breakpoint"
When visiting https://sc-next-docs.philpl.com/docs at a smaller breakpoint, the overlay menu doesn't allow scrolling on desktop (OSX, Chrome 57).

On mobile (iOS 10, Safari) it seems a bit touch and go whether you're scrolling the overlay menu or the body itself.

![screen shot 2017-05-11 at 14 05 16](https://cloud.githubusercontent.com/assets/449385/25951589/143acb98-3656-11e7-8bd9-7330fb88b8e8.p

[2017-05-11 19:36] philpl commented on #10
Thanks for reporting! I'll take a look

[2017-05-19 07:41] geelen opened #12 "Switch to Operator Mono for all the code samples"
Because I ❤️  it. I also have a webfont license for it 😄

This is just a note for me or @superhighfives to hook this up soon.

[2017-05-19 07:57] mxstbr commented on #12
Me === jelly af

[2017-05-19 09:06] philpl commented on #12
Awesome! I'd do it myself, but I don't have the web licence :(

[2017-05-19 09:44] superhighfives commented on #12
No worries. Will sort it out today. 👍

[2017-05-19 13:45] superhighfives commented on #12
Okay, added: https://github.com/superhighfives/styled-components-website/tree/feature/%2312_operator_mono_for_code

[cloud.typography](https://www.typography.com/cloud/welcome/), which manages the Operator webfont, use a `<link />` to grab the fonts:
[code]

Once the project is ready to go to production, cloud.typography requires you to place the fonts on your server. It's a bit convoluted, but yo

[2017-05-21 14:58] philpl commented on #12
@superhighfives Shall we move it to production mode, so we can get the branch merged? :)

[2017-05-22 12:43] mxstbr opened #13 "Move Babel plugin docs to website"
Those don't make any sense to live in the repo, they should be on the website too! (especially once we move to a mono-repo)

[2017-05-22 12:58] philpl opened #14 "Swap out motivation section for Max's talk in Amsterdam"
A video is probably better suited for this part than a wall of text.

As discussed cc @mxstbr

[2017-05-22 12:58] philpl opened #15 "Add "Getting Started" guide to landing page"

[2017-05-22 12:59] kitten opened #16 "Add "Users" page with a list of companies who're using SC"

[2017-05-22 14:51] mxstbr commented on #16
Here's an imcomplete list to get started with, sorted by my own personal order of importance. The first group are the ones that should also go on the homepage imo:

- reddit ([src](https://twitter.com/griffinmichl/status/859637366004346880))
- Bloomberg ([src](https://twitter.com/dmueller39/status/866061486120202243))
- Target ([src](https://twitter.com/Fuller_AJ/status/854487908782399488))
- Euro

[2017-05-22 14:53] mxstbr opened #17 "Wall of Love"
A list of all the positive tweets about styled-components! A tiny list compiled here: https://github.com/styled-components/styled-components.github.io/issues/3

[2017-05-22 17:40] mxstbr opened #18 "Fix meta tags"
- [ ] Should use a [Twitter summary card with large image](https://dev.twitter.com/cards/types/summary-large-image) and use something like the logo on the gradient background as the image. This is what it currently looks like when tweeted, as tested with the [official validator](https://cards-dev.twitter.com/validator): ![screen shot 2017-05-22 at 19 35 27](https://cloud.githubusercontent.com/asse

[2017-05-22 17:41] mxstbr opened #19 "Example on homepage should be display: inline-block"
So it doesn't span the whole page unnecessarily:

![screen shot 2017-05-22 at 19 41 02](https://cloud.githubusercontent.com/assets/7525670/26321319/a6e123b0-3f26-11e7-8a3c-9dbdd8cebfb1.png)

On the other hand it might be cool to have a live example on the homepage already so people can start tinkering around?

[2017-05-22 17:42] mxstbr opened #20 "Add Babel plugin"
People will look in the DevTools, see the `x-Asdf123` classnames and be turned off. Let's avoid that by using the Babel plugin.

[2017-05-22 17:44] mxstbr opened #21 "GitHub star button and count on homepage"
Maybe there's a way to show a live star count and "Star" button on the homepage without using GitHub's huge default embed? Can we fetch the star count from the backend and cache it for 24 hours in memory or something like that?

[2017-05-22 18:23] mxstbr commented on #18
I made a meta image for us to use:

![styled-components-meta](https://cloud.githubusercontent.com/assets/7525670/26322693/6285c954-3f2c-11e7-83e9-c779c5ff476e.png)

[2017-05-22 19:40] philpl commented on #20
This is not possible, since we have to use the `ssr` option. Eith bundle splitting, like in next, the import order will almost always be different on client and server and thus we need to make sure that we generate consistent componentIds.

[2017-05-22 19:40] philpl commented on #19
We had a live example on the homepage, but @geelen felt like it took up too much space. Maybe you have a nice compromise? :)

[2017-05-22 19:46] philpl commented on #18
I updated it but something seems wrong with the validator. Not even https://styled-components.com's image shows up :/

[2017-05-22 19:48] philpl commented on #19
Got an idea! What if we put the content in the hero section itself in the editor? SO META

So you'll have the image and buttons in there and can edit the hero itself to try out SC. It doesn't get more fancy than that :P

[2017-05-22 20:00] philpl commented on #21
Seems we can easily do this: //api.github.com/repos/styled-components/styled-components

[2017-05-22 20:17] mxstbr commented on #18
We definitely want to fix it for Twitter, that showing up correctly is huge. I'm unsure if the validator is broken or not, let's keep this open and check tomorrow?

[2017-05-22 20:17] mxstbr commented on #20
Ohhh right, that's why. My bad!

[2017-05-22 20:17] #20 closed

[2017-05-22 20:18] mxstbr commented on #19
That's what the current website represents, even though it's just an image. :wink: The buttons are the actual buttons rendered above. Let's do it!

[2017-05-23 09:26] mxstbr opened #22 "Basics -> Installation"
Above "Getting started", instead of the "Motivation" section-that should really be its own section? /cc @philpl

[2017-05-23 10:06] superhighfives commented on #12
No worries!

![image](https://cloud.githubusercontent.com/assets/449385/26349400/74be1042-3fa7-11e7-965b-8045465e79ed.png)

So cloud.typography looks for the font files (they're generated for a specific URL) in order to enable production mode. You can effectively leave this in place until you're ready to flick the switch, as it will continue to use the development set up for now.

[2017-05-23 12:51] philpl commented on #22
I don't know if we need an entire section for "Motivation" given that it's just going to be a video for now. In the future we can write an entire section including the best practices, philosophy, etc.

But yea, let's add a quick installation section

[2017-05-23 13:35] mxstbr commented on #22
Yeah that can be a future thing

[2017-05-23 17:32] philpl commented on #20
https://github.com/styled-components/babel-plugin-styled-components/issues/44

[2017-05-23 17:32] philpl commented on #18
Ah, alright. I'll do some investigation later :)

[2017-05-23 17:33] #15 closed

[2017-05-23 17:35] mxstbr commented on #18
We need some special metatags, that's why I opened the issue initially. Did you add those?

[2017-05-23 17:44] philpl commented on #18
Yep, they look correct to me :/ but the image doesn't want to show up

[2017-05-23 17:45] kitten opened #24 "Add Travis auto-deployment to now"

[2017-05-23 23:50] #19 closed

[2017-05-24 00:11] #21 closed

[2017-05-24 00:29] #14 closed

[2017-05-24 00:32] philpl commented on #16
Artsy is really well known :) Should probably go into the page as well

[2017-05-24 01:25] philpl commented on #2
Let's close this for now in favour of more potential issues in the future :)

[2017-05-24 01:25] #2 closed

[2017-05-24 10:54] #22 closed

[2017-05-24 12:40] mxstbr commented on #16
Some first logos for the frontpage companies:

- [Bloomberg](https://upload.wikimedia.org/wikipedia/commons/5/5d/New_Bloomberg_Logo.svg)
- [reddit](https://upload.wikimedia.org/wikipedia/commons/b/b4/Reddit_logo.svg)
- [Target](https://upload.wikimedia.org/wikipedia/commons/c/c5/Target_Corporation_logo_%28vector%29.svg) (couldn't find one with text)
- [Eurovision](https://upload.wikimedia.org/wiki

[2017-05-24 12:52] philpl commented on #16
can delay that yea :)

[2017-05-24 14:29] #12 closed

[2017-05-24 15:12] #10 closed

[2017-05-24 16:02] philpl commented on #18
The twitter:image:src tag is now pointing to styled-components.com, so it'll work, once this site is deployed and aliased to the real domain :)

[2017-05-24 16:02] #18 closed

[2017-05-25 16:24] maxsbelt opened #33 "Use styled component inside constructor of another one"
I can't find in new documentation site information from this @mxstbr tweet:
https://twitter.com/mxstbr/status/865916488334684160

And there is a question. I can't use ordinary React component inside constructor, so I do something like that:
[code]
Maybe there is more convenient way to makes it happen?

[2017-05-25 16:37] mxstbr commented on #33
Does that Item component have a className? Then just put that there!

[2017-05-25 16:37] #33 closed

[2017-05-26 16:41] mxstbr opened #36 "Homepage has a lot of styles"
For some reason the homepage ships a lot of styles (a few thousand lines) even though it should only serve the ones needed to render the homepage. Something's wrong, /cc @styled-components/core 🤔

Maybe that's due to Next.js and how it renders?

h/t @threepointone @andrewingram

[2017-05-26 16:43] mxstbr commented on #16
Invision are using it, but nothing public yet. Source: https://twitter.com/joshmatz/status/868126633303175168

[2017-05-26 16:53] mxstbr commented on #36
It has to be due to the fact how Next.js renders, does it render all the pages at once? That would explain why we inject all of the CSS, since that means all components are rendered. /cc @arunoda @rauchg

[2017-05-26 22:47] philpl commented on #36
@mxstbr it is because we're not actually wrapping around the app. There's an open issue for this on next.js :)

https://github.com/zeit/next.js/issues/1751

[2017-05-28 11:57] ooade opened #37 "Add License and Update dependency"
* Add the MIT License file?
* Update Next.js - It's using [2.3.0-alpha1](https://github.com/styled-components/styled-components-website/blob/master/package.json#L17), 2.4.0 is out and it works fine.

I can take these if permitted???

[2017-05-28 13:25] mxstbr commented on #37
Sure, please do!

[2017-05-28 13:57] ooade commented on #37
@mxstbr which name should be on the license? Yours?

[2017-05-28 17:19] philpl commented on #37
@ooade Just put no name or "styled-components team" :)

[2017-05-28 17:31] ooade commented on #37
Ok

[2017-05-28 17:32] mxstbr commented on #37
I think mine and Glen's are everywhere right now, so put that there. I'd rather have names there since I don't know the legal situation around not having a name there and I really don't want to mess with that :wink:

[2017-05-28 17:32] philpl commented on #37
:+1:

[2017-05-28 20:23] #37 closed

[2017-06-10 15:10] alfonsogoberjr commented on #17
Hey, I'm working on a PR for this, but I have a question: What route path should this use?

Going with `/wall-of-love` until/unless something else is specified.

Cheers

[2017-06-10 18:17] mxstbr commented on #17
That sounds great to me, can't wait to have this done! Thanks!

[2017-06-27 03:32] JikkuJose opened #49 "Perhaps we can add className also to the example?"
Perhaps the key aspect of SC is elegance in splitting style/markup. And since many projects still use old CSS classes that are shared for the whole project, class names will remain for many projects.

The new `.attr` chainable method is awesome for this use case & I think adding a `className` in the provided example may be a good idea. Something like

[code]

[2017-06-27 07:06] mxstbr commented on #49
I like it! Maybe a new section under FAQ "Using styled-components with CSS frameworks" and another one to showcase how to use it with react-router etc. like "Using styled-components with react-router"? That's what folks are most likely to google,

PRs very welcome!

[2017-06-27 17:34] JikkuJose commented on #49
Cool, have submitted a PR!

[2017-07-01 08:32] mxstbr opened #51 "Show { css } import next to media templates"
There is some confusion around how to use them: https://stackoverflow.com/questions/44856283/can-not-get-media-templates-working-using-styled-components

We should probably find a way to show the import there!

[2017-07-02 12:28] joshwcomeau opened #53 "FAQ links don't point to the right sections."
The FAQ links "Support for nesting" and "Referring to other components" take you to the FAQ, but they don't jump to the appropriate section:

https://www.styled-components.com/docs/faqs#referring-to-other-components

This is because the `<SectionLayout>` title doesn't match; the FAQ item headings are all question-format, but it looks like it just uses the dash-case version of the menu item for the

[2017-07-02 13:54] mxstbr commented on #53
Let's just update the links to match? I don't know why they should differ anyway? /cc @philpl

[2017-07-03 19:06] pronevich opened #54 "injectGlobal vs resetStyles in _document.js"
Is there some reason why you have used resetStyles object/string in _document.js instead injectGlobal() ?

[2017-07-03 19:18] philpl commented on #54
Yes, a couple of things still misbehave since next.js has not added an API for wrapping the app yet: https://github.com/styled-components/styled-components-website/blob/master/pages/_document.js#L140

So some code is not migrated / changed yet and just there to "make things work". :wink: 😆

[2017-07-03 19:18] #54 closed

[2017-07-03 19:48] pronevich commented on #54
Is there any drawbacks to use <ThemeProvider> for each page?

[2017-07-03 19:53] philpl commented on #54
@pronevich this page is not using the ThemeProvider, but no. Apart from the duplication there's no harm. But repeating yourself is often bad practice, so it should be avoided.

I'm not sure whether you're referring to the stylesheet manager instead? It can't be repeated, since we need to inject the resulting style tags into the head of the document statically during SSR.

Please move questions unr

[2017-07-10 22:55] georgesboris opened #56 ".attrs docs needs clarification"
https://www.styled-components.com/docs/basics#attaching-additional-props

The `attrs` function passes all attributes directly to the dom node.
so it should only be used with "safe" values that won't trigger html incompatibilities.

In the docs the word "props" is being used.

And it implies that it should be used for organizing the data logic before the css expression.
The example actually uses th

[2017-07-10 23:35] mxstbr commented on #56
Can you show an example? How would that enable composition?

[2017-07-11 00:13] georgesboris commented on #56
@mxstbr actually... I'll retract myself. The compositions are already possible. I might be biased since I thought it worked one way and I sort of "got used to" it working that way.

I was basically using `attrs|props` as I would use something from `recompose`. I thought my code was easier to read as my computations were done outside my style declaration. BUT I know this can be achieved in the same

[2017-07-11 00:50] philpl commented on #56
@georgesboris they're definitely two different approaches to a very similar problem. So, just leave it here and don't edit it out :) It's nice to have some "btw mentions" in some issues.

For the `attrs` method, it would be good if we'd just state what it does in detail:

- it'll be merged with the incoming props
- they'll be available in interpolations
- they'll be have like normal props, so will

[2017-07-13 22:44] alansouzati opened #58 "Page transition slow"
When I'm clicking in "Basics" or "Advanced" it is taking a while before I see the page content.

https://media.giphy.com/media/xDPuIsXoRWxKo/giphy.gif

This could be related to #36

[2017-07-14 11:52] philpl commented on #58
We're aware of it, and it is indeed a duplicate of #36 :/

[2017-07-14 11:52] #58 closed

[2017-07-14 13:12] philpl opened #60 "Add documentation on imports"
Just had a brief discussion here: https://github.com/styled-components/styled-components-website/pull/59

So either we:

- Add some notes on imports in "Getting Started"
- Add some notes to each helper in the API section
- Add some notes here and there ( 👎 )
- Add an import functionality to react-live ( any ideas )

cc @TrevorBurnham @mxstbr

[2017-07-21 08:48] SaraVieira commented on #13
@mxstbr You mean passing these docs : https://github.com/styled-components/babel-plugin-styled-components to the webiste ?

[2017-07-21 09:49] philpl commented on #13
@SaraVieira yes, we'll need to add a section for it to the API section, and add some notes to some others to point to it :)

[2017-07-21 09:52] SaraVieira commented on #13
I can take this on?

On Fri, 21 Jul 2017, 10:49 Phil Plückthun, <notifications@github.com> wrote:

[2017-07-21 09:52] SaraVieira commented on #13
@philpl Can I take this on? :)

_Sent from my Bq Aquaris M5 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-21 10:01] philpl commented on #13
@SaraVieira sure! We appreciate all the help we can get :)

[2017-07-21 10:17] #49 closed

[2017-07-22 18:17] mxstbr commented on #13
Please do it @SaraVieira! I'd love to have them on the website!

[2017-07-23 18:00] SaraVieira commented on #13
@mxstbr @philpl On it !

[2017-07-24 12:32] SaraVieira opened #63 "Add eslint and prettier to repo"
Yellow!

I was thinking maybe adding eslint and prettier would be a good idea here since the website has a lot of components and things can get messy with different ways of writing code

_Sent from my Bq Aquaris M5 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-24 13:58] MicheleBertoli opened #64 "Add Tooling Section"
We want to create a Tooling section, where we are going to add:
- `babel-plugin-styled-components` (now under Advanced, see: styled-components/styled-components-website/pull/62)
- `jest-styled-components`

[2017-07-24 14:45] bhough commented on #64
Would also like to add 'polished` to this as well.

[2017-07-24 14:57] philpl commented on #63
Yep, as discussed, I'll need to set up eslint, prettier, and lint-staged. I'll see when I can find time for this :)

[2017-07-24 16:20] SaraVieira commented on #63
@philpl I created the ticket more to see if I can do this ?

[2017-07-24 17:07] philpl commented on #63
Sure! I'd be happy to hand this task over to you :)

You just need to copy what's done on the main styled-components repo, so the eslintrc, the related packages, remove the flow stuff from eslintrc, and copy all lint-staged stuff.

Should be straightforward, and if you run into any trouble, I'm here to help :)

[2017-07-24 19:24] SaraVieira commented on #63
Can I add stylelint too?

_Sent from my Bq Aquaris M5 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-07-24 23:56] mxstbr commented on #63
Yes please!

[2017-07-25 10:34] SaraVieira commented on #63
@mxstbr I like how you intervene in my comments for positive reinforcement  😝

[2017-07-25 10:35] SaraVieira commented on #64
Maybe we should also add the stylelint configuration to the section as well

[2017-07-25 21:18] #13 closed

[2017-07-30 10:47] MicheleBertoli opened #67 "The "documentation" button is broken"
Hello, the "documentation" button is broken in production:

<img width="468" alt="screen shot 2017-07-30 at 11 43 44" src="https://user-images.githubusercontent.com/1308971/28752645-7eed7cb0-751c-11e7-8a40-f9d0eca0de4c.png">

The classe names (`sc-brqgnP dlxELr sc-bZQynM coTCuP`) seem to be right, but the order on which they are applied is wrong:

<img width="413" alt="screen shot 2017-07-30 at 11

[2017-07-30 14:42] philpl commented on #67
Weird! If it's gone on master I'll just try to redeploy it

[2017-08-04 16:22] wachunei opened #68 "Documentation: more on React Native (values, Animated)"
I'm new on using styled-components. I'm working with it on a React Native app. I've read all documentation and React Native section is maybe lacking of some little help It would be useful.

- Emphasize on `styled.Component` is an alias for `styled(Component)`, in case `Component` is not built into the aliases (see https://github.com/styled-components/styled-components/issues/1027)
- Interpolation

[2017-08-04 16:34] wachunei commented on #60
I would add a little section just between Installation and Getting Started or after the first paragraph inside Getting Started

# Importing
Import `styled` or helpers such as `css` or `keyframes`
[code]

[2017-08-07 20:45] wachunei commented on #68
Wow, actually this led to finding a bug. `Animated.createAnimatedComponent` **won't work** with a `styled.Component` on production. Sure it works on development. There's even a [Stack Overflow answer](https://stackoverflow.com/a/45127430) and an [issue comment](https://github.com/styled-components/styled-components/issues/892#issuecomment-315602275) that saved me a lot of time to figure this out.

[2017-08-12 16:51] mxstbr opened #70 "Translations"
We should make the documentation available in more languages! The setup is definitely not there to do this so there'll be a lot of changes necessary in the website to get set up with the tooling. Does anybody have experience with this?

----

The biggest wins based on where tweets seem to be coming from would likely be:

- [ ] Japanese (!)
- [ ] Chinese (!)
- [ ] German (I can cover this one)
- [

[2017-08-17 21:09] SaraVieira commented on #67
@MicheleBertoli @philpl From what I see this is fixed right ?

[2017-08-17 21:12] SaraVieira commented on #16
@mxstbr @philpl Can I take a crack at creating the users page ?

[2017-08-17 21:20] MicheleBertoli commented on #67
Oh yes, I confirm it's fixed.
Thanks @SaraVieira @philpl.

[2017-08-17 21:20] #67 closed

[2017-08-17 21:22] philpl commented on #16
@SaraVieira you sure can but ehem ^^” I haven’t designed the homepage yet :D but if you’ve got time to start iterating on that as well I’d be eternally grateful :)

[2017-08-17 21:42] wachunei commented on #70
I can help with spanish.

[2017-08-17 23:02] SaraVieira commented on #16
@philpl you want all of this in the homepage then? In a section at the bottom?

_Sent from my Bq Aquaris M5 using [FastHub](https://play.google.com/store/apps/details?id=com.fastaccess.github)_

[2017-08-17 23:23] philpl commented on #16
@SaraVieira before we were discussing a Mac bar similar to the one on babel’s site :) that’d give the pages a little more visibility and reach

[2017-08-18 06:19] mxstbr commented on #16
Yeah I'd leave the current logos where they are, make them link to `/users` and then have a long list of all of them (randomized?) on `/users` similar to Babels `/users`.

Would love a PR for that!

[2017-08-18 09:34] SaraVieira commented on #16
@mxstbr @philpl butbthe current logos on the homepage would always be the same, not randomized right,?

[2017-08-18 12:08] mxstbr commented on #16
Yeah we would want those to be the ones we have there now since they are the biggest names! :blush:

[2017-08-18 12:31] SaraVieira commented on #16
Yes sir! I will just wait for my PR to be merged because I just can't work without prettier anymore 🙁
So I'll probably start this tonight

[2017-08-18 13:17] philpl commented on #16
@SaraVieira I can merge it once you give me the go 👍 :tada: Thanks again! Ping me on Spectrum / Gitter / Twitter DMs if you'd like me to work on some designs for you :smile: I just need the appropriate shove, to put some time aside for it. Sorry for that 😭

[2017-08-18 19:27] SaraVieira commented on #63
This can be closed 🎉🎉🎉🎉🎉🎉

[2017-08-18 19:29] SaraVieira commented on #16
@philpl there are designs for the pages? Can I see them? I can iterate with you

I'm trying to become a full stack ninja 😛

Maybe just a ninja xD

[2017-08-19 10:27] mxstbr commented on #63
Awesome!!!

[2017-08-19 10:27] #63 closed

[2017-08-19 10:28] mxstbr commented on #16
I don't think there's designs go whip something up! For reference, I really like how on Babels users page every logo has the same size: http://babeljs.io/users

[2017-08-19 10:29] mxstbr commented on #16
Also, it's vital that the page is easy to add to. I want people to be able to add their company with a simple addition in some way which we then either randomise when displayed or sort by when they got on board or by how important we think the logo is. (`users.json`? Maybe there's something easier)

[2017-08-19 11:11] SaraVieira commented on #16
@mxstbr my idea was a json already so that people could simply change it so I got you covered 😛

[2017-08-24 22:53] maxsbelt opened #75 "FAQ: Why you should to avoid declare styled component in render method"
Sometimes I see in different PRs something like that:

[code]

As I understand classes for this component will be generated only in runtime in browser and even SSR doesn't help. It's pretty hard to describe this all the time, so it will be great to have a link in official documentation.

[2017-08-25 08:51] philpl commented on #75
That's a good idea! Cheers :)

Generally I'm not really sure why some do it like this, even if we explicitly say that it's returning a component, but a specific section on it won't hurt

[2017-08-28 11:48] srishag commented on #70
@mxstbr I can help with Hindi!

[2017-08-28 12:42] SaraVieira commented on #70
If you want Portuguese I can help 💪

[2017-08-28 12:48] mxstbr commented on #70
That's super great to hear! At the moment we don't have the infrastructure set up (any help with that based on #74 appreciated) but I'll ping y'all once we got that :blush:

[2017-08-28 17:40] mxstbr commented on #70
With #74 merged, I'm starting to investigate how we're going to do the _actual_ translation. Seems like React is using crowdin.com, which gives free unlimited licenses to open source projects and looks great?

[2017-08-28 17:48] mxstbr commented on #64
This is great! We should definitely move the stylelint processor plus the Babel plugin over, opening new issues for that.

[2017-08-28 17:48] #64 closed

[2017-08-28 17:49] mxstbr opened #78 "Move stylelint processor and config docs to the tooling section"
Rather than living on GitHub, the docs for the [`stylelint` processor](https://github.com/styled-components/stylelint-processor-styled-components) and the [shared config](https://github.com/styled-components/stylelint-config-styled-components-processor) should all live on the website to improve discoverability.

[2017-08-28 17:49] mxstbr opened #79 "Move Babel plugin documentation to the tooling section"
Rather than living on GitHub, the docs for the [Babel plugin](https://github.com/styled-components/babel-plugin-styled-components) should live on the website to improve discoverability.

[2017-08-28 17:51] mxstbr opened #80 "Add "Guides" section"
We could use a more tutorial-like guides section for some longer topics.

- Server-side rendering with Express (including setting up a build process?)
- Setting up a codebase for success (stylelint + prettier + folder structure?)
- Preact + styled-components
- Inferno + styled-components
- Other ideas?

[2017-08-28 17:52] mxstbr opened #81 "Write "Motivation" section"
This is 100% on me, rather than just link to my talk we should have an actual "Motivation" section.

[2017-08-28 17:54] mxstbr opened #82 "Improve SEO"
I know, I know, who needs SEO anyways? But if you google the site this is what you get:

![screen shot 2017-08-28 at 19 53 27](https://user-images.githubusercontent.com/7525670/29786214-99db384e-8c2a-11e7-97a5-bf0adbbafed3.png)

None of the content, and only the top-level pages are linked. (not even the sub-sections are there) Would much appreciate help so people can find the content on the websit

[2017-08-28 17:58] mxstbr opened #83 "Figure out navigation"
Right now, even on a large screen, large portions of the nav are cut off:

![screen shot 2017-08-28 at 19 56 14](https://user-images.githubusercontent.com/7525670/29786321-04ecc8e6-8c2b-11e7-9cc6-6e7f7bcb15fe.png)

That's not good, and it'll only get worse as we add more content to the site. We should figure out a better way of doing navigation.

We need a top nav for the "big pages" that should p

[2017-08-28 17:59] mxstbr opened #84 "Improve docs homepage"
The docs homepage right now mostly duplicates content from the nav and from the homepage:

![screen shot 2017-08-28 at 19 56 14](https://user-images.githubusercontent.com/7525670/29786405-59d18d56-8c2b-11e7-8707-4b69d9479237.png)

We should figure out a better thing to do with it than just that. Any ideas?

[2017-08-28 18:07] mxstbr opened #85 "Add site search"
I love how the React and Flow docs do their search, I think that's using Algolia? We should have the search input on every page, so it'll likely have to sit in the nav bar at the top, ref #83.

~For now it'd be fine to only live on docs pages in the sidebar though, don't let yourself be blocked by #83!~

Update: There's a search component ready for the nav bar.

[2017-08-28 18:48] philpl commented on #79
It’s already in there and was moved to the tooling section 😬😜

[2017-08-28 18:48] #79 closed

[2017-08-28 18:54] philpl commented on #82
Subliminal message from Google to push #70 haha

This should be simple enough. Now that we have markdown, it should be possible to extract some page information automatically even? But since the main docs pages contain sub sections none of the content might be relevant.

Maybe the best thing to do is to just list the sub sections in the descriptions?

Both is not that nice, I'd love some input and

[2017-08-28 18:55] philpl commented on #80
I'd love to also mix these up with some Youtube videos or links to other resources. We have some great content on Medium for example, so it'd make sense not to try to replace them, but to complement and integrate them instead :+1:

[2017-08-28 19:09] morajabi commented on #83
Should we continue about nav and other stuff here or on the Spectrum?

[2017-08-28 19:25] mxstbr commented on #79
Really? All of the Babel plugin README? Can we get rid of that and link to the website?

[2017-08-28 19:25] mxstbr commented on #82
I think we can probably somehow tell Google that the subsections are pages, linkable with the hashes, I'm just not 100% sure how to do that!

[2017-08-28 19:26] mxstbr commented on #80
Yep, we could host the Guides on Medium and talks on YouTube and then have a "Resources" section? I'm just a bit worried that that'll end up being just like a link dump.

[2017-08-28 19:26] mxstbr commented on #83
Let's continue here so everybody can chime in, this is better suited for the design discussion!

[2017-08-28 19:32] mxstbr opened #86 "Translation tooling"
With the volunteers in #70 and the changes in #74 the content is now in a markdown string and we should now be able to start translating the webpage.

React uses https://crowdin.com, which seems pretty good in terms of the workflow for translators and they offer a free unlimited account to OSS projects. What I'm not sure about is the workflow from the development side; how are changes going to get

[2017-08-28 19:51] philpl commented on #79
@mxstbr This should be all of it? Frankly, it's just about the options so it's not a lot https://www.styled-components.com/docs/advanced#babel-plugin

@SaraVieira's PR for it: https://github.com/styled-components/styled-components-website/pull/62

[2017-08-28 19:55] mxstbr commented on #79
Oh wow, let's get rid of the README then! @SaraVieira want to submit a PR to the Babel plugin repo that removes the content from the README and links to the website instead?

[2017-08-28 20:43] evgenyrodionov commented on #70
Let's Russian

[2017-08-28 22:21] SaraVieira commented on #84
@mxstbr Maybe add "questions" instead, something like:

This would link to getting started

Link to animations

Link to react native

You get the idea :p

Watchu think ?

[2017-08-28 22:22] SaraVieira commented on #83
How about the inner pages being dropdown when you click the main page ?

[2017-08-28 22:27] wking-io commented on #83
I really like the top nav with conditional side nav option! I think that could work really well making the top nav the gradient background and then the side nav being a lighter gray to differentiate it from the main content.

I think the logo could then be broken into the icon on the left and styled components text beside it. Then on mobile the text can be removed and only the icon is there.

I ca

[2017-08-28 22:28] SaraVieira commented on #79
Sure man ! On it !

[2017-08-28 22:30] SaraVieira commented on #80
@mxstbr @philpl I could do a video with the second one if you guys want , use react-create-app and set it up

[2017-08-29 08:55] mxstbr commented on #80
That sounds awesome @SaraVieira!

[2017-08-29 09:09] mxstbr opened #88 "Separate tooling pages"
Since the tooling docs are quite long, they don't really make sense to all live on a single huge page. I think it'd make sense to move them all to actually separate pages:

- `/docs/tooling/babel-plugin`
- `/docs/tooling/stylelint`
- etc.

/cc @philpl wdyt?

[2017-08-29 09:13] mxstbr commented on #84
Hmm, I feel like that just duplicates the content we have anyway. I feel like we have that page and we're not really doing anything useful with it.

What about putting a quick start guide there instead? Can probably just be "Installation" + "Getting started" so that folks can jump right in?

[2017-08-29 09:15] mxstbr commented on #83
I quite like the two navigations! A couple of points:

- What about showing all sections in the sidebar but collapse them except for the one you're on. So in your case you're on Basics, so it'd show Basics + all the subpages, and then beneath that it'd show "Advanced", "API Reference" and "FAQ" but without their subpages listed?
- That frees us up on the top bar to do more things there. Since we'r

[2017-08-29 09:23] johannesnagl opened #89 "Scrolling broken in docs"
Hi guys,

stumpled upon the beautiful website today - love it! Unfortunately, there's a nasty bug - at least in Mac OS, Chrome Version 60.0.3112.101 (Official Build) (64-bit):

If you scroll down the content completely, you can't scroll in the nav section anymore.

I've created a screencast to highlight this problem:

![screencast](http://g.recordit.co/YLWvWeXwrZ.gif)

Unfortunately, you can't see

[2017-08-29 09:53] mxstbr commented on #89
Can replicate that, annoying! PRs appreciated 😊

[2017-08-29 09:56] SaraVieira commented on #80
@mxstbr @philpl I have been doing preact screencasts for the last couple of days so you can get a sense of how I do them you can see them here:
https://www.youtube.com/playlist?list=PL1O2bxLvC8EPw09PKUl3smGrujiZbQFG9

Not public yet but json already approved them 🎉

[2017-08-29 11:01] philpl commented on #83
I really like it as well :) two things however: I think the gradient is a bit off but don’t worry, since it’s already present in the code; second thing is the content container size. The one we have fits the content really well and the one in the design is too wide, so I’d probably preserve the current one.

Apart from that this looks really awesome! Maybe I should try to work on a first version?

[2017-08-29 11:05] philpl commented on #88
I think it might be a slippery slope of follow up problems. Suddenly you are dealing with a change on every structure, also in typography, nested menus, etc.

I’m not confident enough yet to think about this change but it will definitely become more urgent. For now it should hold up ok for the time being as the navigation has enough anchors. But we will need to implement separate pages soon, I agr

[2017-08-29 11:08] mxstbr commented on #83
Do it!

I'm not sure I like the gradient at the top (too much imo, the one on the homepage is enough; I'm not a fan of our current sidebar one either) and the android-like treatment if the selected states but I think this would be a great prototype to get out :blush:

[2017-08-29 11:09] mxstbr commented on #88
Well the menu would stay the same, it's just that the subanchors would link to pages and the main anchor would show a list of subpages with an overview or something?

[2017-08-29 11:16] mxstbr opened #90 "Separate .md files for markdown"
Rather than have the markdown content as strings inside of JavaScript (which is annoying for escaping and highlighting, and might make translation tooling harder) we should be extending the webpack configuration with `raw-loader`, have `.md` files, import them and wrap them in `react-markings`!

We might even be able to do it automatically so that we don't have to do the wrapping manually for each

[2017-08-29 11:17] valstu commented on #89
I think this is "it's not a bug, it's a feature" kind of thing. If you scroll the content area and immediately scroll the navigation area it scrolls the main area. You cannot scroll the navigation area until the scrollbar on content area has disappeared. So the main area is still active while you try to scroll the navigation. If you wait it's all good.

https://file-cjyghmgjbe.now.sh/bug-demo-scs.

[2017-08-29 11:19] johannesnagl commented on #89
you're absolutely right - haven't noticed this effect! nevertheless, this feels way more as a bug then as a feature :)

[2017-08-29 11:25] harshmaur commented on #82
Guys, why arent we using next/head to define title and descriptions for each page? I know a bunch of other tags as well that are good for SEO purposes.

[2017-08-29 11:33] mxstbr commented on #82
PRs very _very_ welcome!!

[2017-08-29 11:35] mxstbr commented on #89
Yeah this certainly isn't optimal :confused:

I'm hoping we can land #83 soon which should remove the scroll area from the sidebar (hopefully), so I'm going to close this issue for now since that _should_ fix it! Thanks for the report, that should not be a thing anymore sooooon

[2017-08-29 11:35] #89 closed

[2017-08-29 11:38] SaraVieira commented on #90
I think this: https://www.npmjs.com/package/markdown-loader

Could be okay , it transforms stuff into html and then we can just import it on the page

[2017-08-29 11:40] mxstbr commented on #90
We can't just transform it to HTML though since we have React components in our markdown, that's why we use `react-markings`.

I think what we'd rather do is use [`wrapper-webpack-plugin`](https://github.com/levp/wrapper-webpack-plugin) to wrap each `.md` file with this boilerplate:

[code]

What I'm unsure about after that is how we get webpack to treat these files as JavaScript, what they are at

[2017-08-29 11:40] harshmaur commented on #82
@mxstbr Can you give me all the social media pages of styled-components? I am creating the schemas, breadcrumbs etc.

[2017-08-29 11:41] mxstbr commented on #82
The only "social media" we have at the moment is Medium, that's all: https://medium.com/styled-components

[2017-08-29 11:43] mxstbr opened #91 "Add Analytics"
`micro-analytics` is nice and all, but doesn't quite give us what we need and I don't have time to improve it further.

Let's switch to something else. I'd love for the stats to be public, if that's not possible because it doesn't exist let's just use Google Analytics because it's easy?

[2017-08-29 11:44] harshmaur commented on #82
Any plans to create other accounts? twitter atleast? or shall I use @mxstbr as the handle?

[2017-08-29 11:44] SaraVieira commented on #90
But doing that would still have the problem with the escaping :(

[2017-08-29 13:16] morajabi commented on #83
What about my design on nav? It seems you’re going with this one.

[2017-08-29 13:23] philpl commented on #90
@kentcdodds has posted me a link to their loader on Twitter, which does what you're talking about. https://twitter.com/kentcdodds/status/902262231374716928

The problem with going down this route is that we also lose interpolations. Those are important to have some flexibility to what we can render: https://github.com/styled-components/styled-components-website/blob/master/sections/basics/motivati

[2017-08-29 13:24] philpl commented on #83
@mxstbr

Wut! 😆 That's A1 branding right here

[2017-08-29 13:26] philpl commented on #91
It also seems to be a bit brittle and crashed every now and then, I believe... Although it could also just be Zeit's infra not being well suited for it.

I'd be in favour of Google Analytics. It's the obvious choice

[2017-08-29 13:36] philpl commented on #88
@mxstbr I think it could work but frankly, it's tricky to pull off. You're disrupting the flow of the page, and you'll need an index page for them. I think we can do that, but we'll need to test it before we ship it, as I'm unsure whether it'll work well :/

[2017-08-29 13:43] kitten opened #93 "Set up redirection for moved/renamed docs pages"
We've now for the first time moved a section (babel plugin) to a different URL. But a slight rename can also change the URL dramatically, which leads to previous links being dead / unusable. Together with anchors this can become really annoying as it might not be immediately obvious that a section is missing.

We need to add some "stub" entries to the `docs.json` that set up some simple redirectio

[2017-08-29 13:47] wking-io commented on #83
I think I just have a larger screen! It was not my intention to redesign the content haha

I think the plan with the main nav being more universal links is better! Was not aware of the expansion of the site!

Also, I agree! part of the brand to me is the gradient now, but I think that it could just be the palevioletred as well and get the job done. 💯

[2017-08-29 14:07] philpl commented on #83
@wking-io no worries! Just a note on my end regarding the sizing

The gradient is actually a big question on my end here. I wasn’t aware that you’re more in favour of a more simple design, @mxstbr. Maybe we need some more feedback on some variations? It’d be simple to tweet out a plain flat-colour navigation bar vs the gradient one. I’m definitely in favour of only having the gradient on the navba

[2017-08-29 14:12] philpl commented on #83
Oh, btw, regarding the navbar + sidebar. I’d really love to reconcile this effort with @morajabi’s work. We’ll also need to think of the collapsed sidebar for mobile devices / smaller screens. In those cases it’s probably impossible to get around scrolling, but we have to design and think about it beforehand. For instance, a DropDown is good on desktop but horrible on touch devices, and scrolling

[2017-08-29 14:50] harshmaur commented on #93
Can you give the old url and the new url? I will create a 301 redirect middleware.

[2017-08-29 14:50] philpl commented on #36
This is resolved for now as I've added a vendored version of next with the fix mentioned above

[2017-08-29 14:51] harshmaur commented on #91
I have added GA in mine. Let me create a PR. :)

[2017-08-29 14:53] kitten opened #94 "Upgrade next to version 3 as soon as 3.0.7 is released"
Currently we have a vendored version of next: https://github.com/styled-components/styled-components-website/blob/master/vendor/next-v2.4.8.tgz

This is to work around our styling problem that prevented us from wrapping the entire app. A fix was proposed here but wasn't merged for a long time: https://github.com/zeit/next.js/pull/2010

Now that it was merged we can get rid of the vendored version

[2017-08-29 14:56] threepointone commented on #36
Looks good! I notice styled-components.com has a lot fewer styles now, so that's great. it still appears to be injecting every rule twice though?

[2017-08-29 14:57] philpl commented on #93
I'd go for a 302 (hope that's the right code?) instead of a 301 to not have a permanent redirection in place.

The URL in question is: https://www.styled-components.com/docs/advanced#babel-plugin
It now lives at: https://www.styled-components.com/docs/tooling#babel-plugin

It'd be great to define these rules here: https://github.com/styled-components/styled-components-website/blob/master/pages/doc

[2017-08-29 15:00] harshmaur commented on #91
Can I get the Analytics UA Code please?

[2017-08-29 15:03] harshmaur commented on #91
Also, I am pretty bad with jest, it is throwing up an error when I am trying to update the snapshot, it seems like it is coming from the library itself. Not sure how I can fix that. https://cl.ly/150H1C3T2v1N

[2017-08-29 15:03] philpl commented on #84
@mxstbr I agree, I think we should have a generic starting point for all the pages, that "hand holds the user" like @SaraVieira but not duplicate / change the structure.

I think that will just end up bloating it. Like the homepage already has a small guide to get started. We should be careful not to "litter" content everywhere, but to keep them contained. Otherwise you give the user what he might

[2017-08-29 15:04] philpl commented on #36
@threepointone Wow! It indeed is. Wtf?

[2017-08-29 15:04] harshmaur commented on #93
Why do you want a 302? Is it a temporary change? The browser would work fine though, Google however would not record the change and will always follow the old url in this case.

[2017-08-29 15:06] kentcdodds commented on #90
Also linked in that tweet thread: [Custom markdown syntax for interpolations](https://github.com/kentcdodds/glamorous-website/blob/master/other/CONTRIBUTING_DOCUMENTATION.md#important-markdown-notes) and [the implementation](https://github.com/kentcdodds/glamorous-website/blob/master/components/interactive-markdown.js).

I've considered making this a pluggable standalone project to clean up the im

[2017-08-29 15:13] philpl commented on #93
@harshmaur

Oh that's unfortunate

I think a simple 301 won't pick up on the hash/anchor part of the URL, right? I might be mistaken. Either way, I'd like to be careful about permanent, cached redirections that make it impossible to undo anything.

[2017-08-29 15:16] philpl commented on #82
Fixed in #92

@mxstbr Should be sufficient, right?

[2017-08-29 15:17] philpl commented on #51
I was thinking about introducing an "editable" range for react-live, i.e. some code before and after the actual code snippet that is not editable and not evaluated. Does that sound like it'd solve the issue? There's still the question of how to visually style this

[2017-08-29 15:20] harshmaur commented on #93
Hash/Anchor arent picked up by the server IMO, they are only browser based, I tried to get the hash, I could not get it in the request

Check this https://stackoverflow.com/questions/9967681/nodejs-url-with-hash

So basically this has to be picked up on the frontend and redirection should happen which again is not a good way. Please suggest.

[2017-08-29 15:21] harshmaur commented on #91
I am actually done with the changes, Just need to solve the Jest issue.

[2017-08-29 15:28] philpl commented on #93
We can add a `componentDidMount` to our document and detect whether a redirect is necessary here: https://github.com/styled-components/styled-components-website/blob/master/pages/_document.js

[2017-08-29 15:28] morajabi commented on #83
I think putting documentation heading in the sidebar is the best to navigate them easily. You should let the nav bar handle other things like what Babel, Webpack, Jest, React and others did and use a sidebar for content navigation. Anyway, it's my opinion :)

I think what Redux did for navigation on mobile with a ||| (rotate 90deg) icon is great for mobile users.

![screen shot 2017-08-29 at 7 57

[2017-08-29 15:33] morajabi commented on #83
What do you mean by scrolling? Where?

[2017-08-29 15:34] morajabi commented on #83
@mxstbr I like this idea and it's more common in latest libs' docs.

[2017-08-29 15:38] morajabi commented on #85
@mxstbr I checked Flow and it's using Algolia. How do you want results to be? I think Flow results box are a bit overhead for styled-components, isn't it? I'd like to implement it.

[2017-08-29 15:43] philpl commented on #83
@morajabi

That navigation sidemenu might collapse on small screens. But since the screen is not only not wide enough, but also not long enough, you'll need to be able to scroll the content. So we might get rid of scrolling on desktop, but not on mobile. Which is ok! We just need to remember this.

Btw; Here's instead of the screenshots a gif. @morajabi feel free to remove the images; I think this

[2017-08-29 15:45] morajabi commented on #84
@philpl @mxstbr I think we need to define some basic rules for the designs so they'll have a consistent feel and look no matter who designs them. For example let's define some of these:
- Do we like gradients or flat colors? #83
- Do we have shadows or not?
- What is our main colors here?

Not a big deal but a good thing to do :)

Besides, I can design something for the cards section.

[2017-08-29 15:46] geoffdavis92 commented on #53
@mxstbr @philpl I could take a look at this.

[2017-08-29 15:48] philpl commented on #53
@geoffdavis92 Sorry, I think this was already fixed in a past PR :wink:

[2017-08-29 15:48] #53 closed

[2017-08-29 15:48] morajabi commented on #83
Of course, GIF is better :) @philpl

What's your opinion on having Basic, Advanced and FAQ parts in the sidebar? (Read my earlier messages)

[2017-08-29 15:48] mxstbr commented on #94
Except I couldn't get it to work: https://github.com/zeit/next.js/pull/2831

[2017-08-29 15:50] mxstbr commented on #82
Opening because I want to remember to add it to Google Webmaster Tools, let's see what that says we need to do!

[2017-08-29 15:50] mxstbr commented on #91
It seems like `react-ga` can't be server-side rendered?

[2017-08-29 15:51] mxstbr commented on #88
The flow of the page? It's three entirely separate tools put together on one massive page, there's no flow to that right now either!

[2017-08-29 15:52] philpl commented on #84
@morajabi I can answer the questions based on what I've done with the current site. And @mxstbr can probably add some comments to changes he'd like. Then we can create some variations and get some feedback via Twitter etc.

There's only a single gradient which is used for a single background per page. This is the "brand" gradient. The other two colours are a "gold" (`rgb(243,182,97)`, used for h1)

[2017-08-29 15:54] morajabi commented on #84
So, tell me a bit more about how you want the card grid to look like, so I can design it the right way.

[2017-08-29 15:57] philpl commented on #84
@morajabi I'm not really sure what we should go for. I'd have to try out some variations myself :wink:

Maybe you'd like to just adhere to some general patterns we're already using? I'll paste the CodeBlock styles here, which should be the basis. We can try different colours and styles for the background etc.

[code]

(*The rem utility just converts the px number to rem btw*)

[2017-08-29 15:57] mxstbr commented on #83
It's works super well on the homepage, but it feels forced and weird on the navbar to me. The navbar is a utility, it shouldn't be the first thing you look at when you look at the page?

I like where these designs are going, I can see the dropdowns in the nav working too!

[2017-08-29 15:58] morajabi commented on #84
Thanks, I will start and when done, I'll share them here for your comments.

[2017-08-29 15:58] mxstbr commented on #85
I quite like the flow result box, but feel free to experiment and come up with something better!

[2017-08-29 15:59] morajabi commented on #83
I think we should start to sum up what we expect from a nav, shouldn't we?

[2017-08-29 15:59] harshmaur commented on #93
Won't work. document.js only executes server side.

[2017-08-29 16:01] harshmaur commented on #91
I am not sure. It works in my project. I don't use tests though.

Secondly GA should be executed on frontend only right?

[2017-08-29 16:04] mxstbr commented on #91
Yeah it should only happen on the frontend, otherwise it'll seem like we have 2x the pageviews! I created a property on Google Analytics, the tracking ID is `UA-105613776-1` :blush:

[2017-08-29 16:05] mxstbr commented on #91
This thread has a long discussion about this exact feature:

[2017-08-29 16:06] harshmaur commented on #91
I've used the same thing with modifications. How about I remove the test and make a PR then you can have the tests pass?

[2017-08-29 16:07] mxstbr commented on #91
Just submit the PR with the failing tests so we can take a look at it. Thanks!!

[2017-08-29 16:09] wking-io commented on #83
Agreed! When you put it like that I think that @morajabi is right and we should outline the priority/hierarchy of the pages so we know where the focus is. Because it the above is true then I think we can really reduce the design and make the content on the pages themselves the focus.

[2017-08-29 16:12] philpl commented on #94
@mxstbr that explains why we end up with duplicated rules on the client... oops, I forgot about it running on the client as well. we can keep it as is, but update it once we find a workaround?

[2017-08-29 16:14] mxstbr commented on #83
I think the content should be the focus.

People don't come to styled-components.com because they want eye candy, they come either because they want to try it (that's why the getting started is on the homepage) or because have an issue and are trying to fix it asap before their boss comes and screams in their faces. :wink:

[2017-08-29 16:14] philpl commented on #88
@mxstbr I’m referring to these sections being part of a page. Once we create sub pages we need to think about switching between them. But the NextPage component could actually help with that?

[2017-08-29 16:16] philpl commented on #93
@harshmaur we can actually use the API to inject an HOC around the app and detect it there. It’s currently non-standard I.e. not released on next yet, but we’ve got it in our censored version to make styling ssr work

[2017-08-29 16:16] mxstbr commented on #83
That tells me that the top nav could be responsible to jump between the big sections ("Basics", "Advanced",...), but what I'm fearing is that we're going to run out of space as we add more and more content. (like just yesterday the new "Tooling" section, we might add "Guides", "Examples", "Integrations", etc. in the future)

So imo it makes more sense for the sidebar to be responsible for jumping

[2017-08-29 16:18] mxstbr commented on #88
I'm talking in terms of the layout as a user, not in terms of the code; no idea how the code is set up rn.

To me, having the Babel plugin, the stylelint processor, the Jest matchers all on one page is suuuper weird and hard to navigate. Those should just be their own pages where these tools can live.

[2017-08-29 16:18] morajabi commented on #83
@mxstbr As I said that before, I agree so much.

[2017-08-29 16:19] mxstbr commented on #94
Let's just try and find a workaround? :laughing: We're going to need to put it in the Next docs anyway asap so not more people ship with an unnecessarily slow setup.

[2017-08-29 16:19] harshmaur commented on #93
I am not aware, Could you explain more? I would then be able to do it. Also redirection on the frontend is not that pretty with nextjs. https://github.com/zeit/next.js/wiki/Redirecting-in-%60getInitialProps%60

[2017-08-29 16:19] philpl commented on #88
@mxstbr yea, I agree that we need to separate them, but also trying to bring up the problems around it :) there just seem to be a lot of questions that need to be answered before we can jump onto implementing it

[2017-08-29 16:21] mxstbr commented on #88
Well I mean that's what the breadcrumbs in the sidebar are for, right? That's why we show all the subsections there, so you can jump between them!

[2017-08-29 16:22] philpl commented on #93
@harshmaur here we’re wrapping the app in our StyleSheetManager. You can just create another Redirect component that wraps it as well and use and add the redirect logic to componentDidMount

https://github.com/styled-components/styled-components-website/blob/master/pages/_document.js#L150

[2017-08-29 16:24] harshmaur commented on #93
I see!! Let me try to do it now.

[2017-08-29 16:27] philpl commented on #83
@mxstbr I agree with the navbar not containing pages of the docs. It can pretty much be the same across all pages, be it the docs or the homepage.

I also agree that the gradient feels attention-grabbing and forced right now. It’s force though in the sense of it being there for branding. And I think that’s alright. We should make it identifiable. That doesn’t hinder usability if we fix the attenti

[2017-08-29 16:29] philpl commented on #88
Yes, but we’ll need to think about switching to the next page vs the next “topic” I.e. basics → advanced. We can change the NextPage component to display the next page instead of just the next “topic”. That would solve all problems imho

Having just the option to switch to the next page in the sidebar isn’t enough imho, as it prevents people from just reading on, as they’d have to look at the side

[2017-08-29 16:30] morajabi commented on #84
Hey @mxstbr and @philpl, What do you think about this? Open to comments :) Also I didn't know if you wanted to add more cards, but if you want to add more we can tweak this a bit.
https://www.figma.com/file/ZZHoPeTYKNtNqcLYnRsQSVxR/Styled-Components?node-id=6%3A0

[2017-08-29 16:31] morajabi commented on #83
@philpl If you can, I think it'd be great to write what you like about two design so I can make a new design. (Maybe edit your message above!)

[2017-08-29 16:32] geoffdavis92 commented on #51
@philpl I'm looking at this section now; from my understanding that sounds like it would solve the problem. Would you want help?

I was given the following code sitting inside an `md` component:

[code]

…You would evaluate that in the react-live component similar to the following

[code]

…which you could then use to target certain rendered sections in the react-live component using the `noEval`

[2017-08-29 16:33] philpl commented on #84
@morajabi That's amazing! Exactly what I had in mind :heart:

I'm wondering whether we should just use a single colour for their heading? It might be unnecessary "beautifying" to use multiple ones and will look weirder as we add more sections, I believe

[2017-08-29 16:35] philpl commented on #51
@geoffdavis92 I think that solves how we'd express it in the markdown code. However, I still need to think about how to add it to react-live without breaking the experience.

It'll need to highlight those sections differently and then display them differently so that the user can't edit them. Then the result will need to incorporate that code as well. It could easily turn out a bit weird. Feel fre

[2017-08-29 16:36] morajabi commented on #84
@philpl I think for the first 3 it'd be fine. Because I think these 3 are the main sections, If we want to add more for example, "Animations" or "With React Native", I think we should use smaller cards (4 in a row) with one single colour for all of them (All primary colour or secondary one because we have an h1 heading here: Documentation)

[2017-08-29 16:40] geoffdavis92 commented on #60
@mxstbr @wachunei Is this still being worked on? If it's still open, I'd love to give this a shot

[2017-08-29 16:40] mxstbr commented on #88
Ahhh yeah sure, that's a code thing though. Agreed.

[2017-08-29 16:41] geoffdavis92 commented on #51
@philpl awesome, I'll check out that repo

[2017-08-29 16:41] philpl commented on #83
@morajabi to combine all points (but ignoring the gradient for now):

- The navbar should be using our violetred colour (`rgb(219, 112, 147)`)
- It should use the compact version of our logo (the one that's already present today for mobile)
- It should not break up the text (This is up for debate, but I'd say we should keep it simple for now)
- It should avoid (i.e. not use) dropdowns (for the sak

[2017-08-29 16:43] morajabi commented on #83
@philpl  I will give it a hand if everyone is OK. Let me know.

[2017-08-29 16:43] mxstbr commented on #60
See here for some active discussions: #51, PRs welcome!

[2017-08-29 16:44] philpl commented on #88
@mxstbr Well, I was referring to the UX problem, but yea, should we open a separate issue first to collect ideas, or rename this one? I think it already developed into a proper discussion 😆

[2017-08-29 16:44] mxstbr commented on #84
Love it! Let's get rid of the "choose your path" sentence and this looks perfect 👌

I don't mind the multiple colors, we can tinker around with that in the future as we add more sections.

[2017-08-29 16:44] philpl commented on #60
@mxstbr It seems that #51 should solve this completely, so let's focus on that instead and move all discussion to it instead.

[2017-08-29 16:44] #60 closed

[2017-08-29 16:46] mxstbr commented on #88
Let's keep this one about tooling, the NextPage component behaviour wouldn't actually change compared to how it works today until we add the tooling pages so it's more of a refactor than a UX change?

[2017-08-29 16:46] mxstbr commented on #83
Yes please!

[2017-08-29 16:57] morajabi commented on #84
@mxstbr I was just kidding about that sentence :))

[2017-08-29 17:07] morajabi commented on #84
I added some more sections if you want to take a look.

[2017-08-29 18:59] mxstbr commented on #78
Done by @SaraVieira! :tada:

Now we just gotta get rid of the READMEs of the processor and the config :blush:

[2017-08-29 18:59] #78 closed

[2017-08-29 19:03] SaraVieira commented on #78
@mxstbr I can do that tomorrow if you want :)

[2017-08-29 19:05] mxstbr commented on #78
Awesome!

[2017-08-29 21:07] wking-io commented on #84
The design look slick @morajabi! I have one note revolving around the title hierarchy:

Ideally in the code the heading 'Documentation' is an h1, but the other headings will be h2s (I assume) so, we would want it to either be a different font weight, color, or font size to show the heading hierarchy.

Since it was decided the colors can stay for iteration one, maybe we can change the font-size to

[2017-08-30 07:33] morajabi commented on #84
@wking-io Thanks! You're right, I decreased the font-size to 28. But I didn't want to change the weight because it's a part of design language. We can change it later anyway.

[2017-08-30 07:54] morajabi commented on #83
@philpl What do you mean by this?

[2017-08-30 08:28] morajabi commented on #83
@mxstbr @philpl I've redesigned the parts and added some artboards and notes for each state. I copied the nav and changed the colour to see if it's what we like.

I'd appreciate your comments on that. And we can edit the parts which are not your preference.
https://www.figma.com/file/ZZHoPeTYKNtNqcLYnRsQSVxR/Styled-Components

[2017-08-30 10:35] philpl commented on #83
@morajabi sorry, that was a bit unclear:

... of the "styled-components" wording on the left

[2017-08-30 10:36] arunoda commented on #94
Guys, `next@3.1.0` is with the change you guys are looking for.

[2017-08-30 10:45] philpl commented on #84
@morajabi Optimally we'd want to use our current h2 styling which is:

- `font-weight: 500`
- `font-size: ${rem(32)};` (32px)

Btw our `line-height` is `1.6` consistently, but most headers have some kind of margin.

[2017-08-30 11:20] morajabi commented on #83
@philpl I'm glad you liked it!

I see, What font & styling should I use for the **styled components**?

[2017-08-30 11:26] philpl commented on #83
@morajabi So there's a couple of options here:

- Use the typography as is in the logo (with the line break which doesn't contain the dash, but seems to fit in the navbar nicely)
- Use the body font (that's probably not a good idea, since we can just export a png)
- Use the `styled-components` on a single line with the appropriate font

I actually realised that your design almost matches the logo

[2017-08-30 11:29] morajabi commented on #83
@philpl That was just a quick placeholder! I have Sketch actually but I used Figma because it has better collaboration support.

[2017-08-30 11:35] morajabi commented on #83
What do you think now? @philpl

[2017-08-30 11:47] morajabi commented on #84
Done!

[2017-08-30 13:01] philpl commented on #83
@morajabi That looks perfect! Just have to make sure to export the wording of the logo as an image when we actually build this as we're not using Fira Sans anywhere else on the site :)

[2017-08-30 13:47] morajabi commented on #83
That's OK but if we're going to import other fonts from Google, we can import just the letters s,t,y,l,e,d,c,o,m,p,n from Fira Sans like this:
https://fonts.googleapis.com/css?family=Fira+Sans:500&text=styledcompn
as discussed [here](https://stackoverflow.com/questions/18641479/use-a-google-font-and-include-only-a-z-and).

[2017-08-30 15:22] geoffdavis92 commented on #51
@philpl circling back, is this what you are thinking?

![CodeBlock over a LiveEdit component](http://i.imgur.com/jPkHexs.png)

[2017-08-30 15:59] mxstbr commented on #83
I love it, getting there for sure!

[2017-08-30 16:12] mxstbr opened #99 "Ecosystem page"
Rather than having a huge list of related libraries in our README we should move that to the website! Could be structured into "one-off npm components you can use built with s-c", "component libraries" "grids" and "others" or something.

[2017-08-30 17:21] morajabi commented on #83
Wow! I really appreciate that @mxstbr

[2017-08-30 17:22] morajabi commented on #99
"utilities" too.

[2017-08-30 18:49] philpl commented on #51
@geoffdavis92 Yes, but we'd have to put in a special case inside the editor so that the codeblock is part of the editor.

https://github.com/styled-components/styled-components-website/blob/master/components/LiveEdit.js#L105

Basically on here we need a column that has a code block for the imports first and the `StyledEditorScrollCaptured` second.

For the code block we'll need to make a variation

[2017-08-30 19:28] mxstbr opened #101 "Add syntax highlighting setup to tooling"
We should add docs about all the syntax highlighters for all the different editors to the website so people can find it!

[2017-08-31 09:39] taneba commented on #70
I can help with Japanese!

[2017-08-31 11:47] SaraVieira commented on #101
Hello @mxstbr!

What syntax highlighters are there?

[2017-08-31 11:50] philpl commented on #101
@SaraVieira Most of them are listed here: https://github.com/styled-components/styled-components#syntax-highlighting

A new addition is the WebStorm plugin: https://github.com/styled-components/webstorm-styled-components

[2017-08-31 13:40] kitten opened #102 "Expand Security section with a demo and notes on sanitisation"
https://github.com/styled-components/styled-components-website/blob/master/sections/advanced/security.js

This section contains some information on Security. Right now styled-components isn't (and can't reliably) sanitise user input. This is something we can add in v3 once we can differentiate between: properties, values, mixins, selectors in interpolations.

For now we should expand the Security

[2017-08-31 19:21] geoffdavis92 commented on #51
@philpl Awesome, I'll check that out tonight 👍

[2017-09-01 09:39] mxstbr commented on #83
Since nobody has commented in the negative yet, let's implement this? :blush:

[2017-09-01 12:24] morajabi commented on #83
Great! Is it OK I start doing this tomorrow?

[2017-09-01 12:43] mxstbr commented on #83
Sounds great to me!

[2017-09-02 06:39] morajabi commented on #81
And no one can do this as good as you :)

[2017-09-02 08:09] morajabi commented on #83
One question, should I implement it on a branch of the current website? Is home page going to be like this? I think it's not going to match the navbar.

[2017-09-02 09:01] mxstbr commented on #83
Yeah, implement it on a branch and submit a PR!

I think we'll have to do some special treatment to the navbar on the homepage (no background?!) but let's figure that out once we have a first version (i.e. a WIP PR) and can quickly iterate?

[2017-09-02 15:21] morajabi commented on #83
Should navbar be sticky?

[2017-09-02 15:24] mxstbr commented on #83
I don't think so, just because it takes away a lot of screen estate on mobile and doesn't really improve the experience, right?

[2017-09-02 15:26] morajabi commented on #83
I think it should be sticky on mobile because it's the only handler to unfold the side nav.

[2017-09-02 15:27] mxstbr commented on #83
Ah yeah, that's true. Good point let's make it sticky!

[2017-09-02 15:28] morajabi commented on #83
OK! What about the desktop? I don't think it's necessary there, what do you think?

[2017-09-02 18:12] morajabi opened #104 "Suggest using styled-media-query in media templates"
Just a suggestion to add a link to [`styled-media-query`](https://github.com/morajabi/styled-media-query) in [the media templates section](https://www.styled-components.com/docs/advanced#media-templates) in docs.
I think it'll make using media queries in styled-component easier. We can reference it in tooling, but I think most people don't think there's an alternative approach for using media quer

[2017-09-02 18:24] mathiasbynens commented on #102
👍

Minor suggestion: consider linking to [the `CSS.escape` polyfill repository](https://github.com/mathiasbynens/CSS.escape) instead of the npm package page.

[2017-09-02 18:25] mxstbr commented on #102
Just because I found it right now: Would you want us to recommend `CSS.escape` or `cssesc`?

I'd prefer to recommend people use the `CSS.escape` standard with your polyfill but I'm happy to recommend `cssesc` since it'll be a while before folks can use `CSS.escape` without the polyfill so then it doesn't really matter :wink:

[2017-09-02 21:03] philpl commented on #102
@mxstbr Why not both? 😆  `CSS.escape` is nice because it's the standard, and `cssesc` has some nice additions to it

[2017-09-03 07:40] mathiasbynens commented on #102
@philpl is correct: either solution does the job. cssesc offers more flexibility, in case you want fine-grained control over the output.

Generally, I recommend `CSS.escape` as it’s a standard now, and you get it for free in modern browser environments. (cssesc was created before `CSS.escape` existed.)

[2017-09-03 09:54] jamesknelson commented on #102
Feel free to use part of the linked article in your docs (if you do, please provide a link back).

For what it's worth, I've also updated the article to mention `CSS.escape` and @mathiasbynens' polyfill repo.

[2017-09-03 10:31] morajabi commented on #83
Progress Report: Going for the mobile menu view.

[2017-09-03 13:31] SaraVieira commented on #101
@philpl I can take this on tonight 😀

Is it okay if I use the icon for the apps ?

[2017-09-03 13:34] mxstbr commented on #101
Sure!

[2017-09-03 13:36] SaraVieira commented on #101
@mxstbr Should this also include a PR to the styled-components readme to remove all the documentation from there ?

[2017-09-03 14:00] morajabi commented on #101
@SaraVieira I think we can have a paragraph in that repo with a link to the new section for the information. Also, we need to mention which editors/IDEs we support in that paragraph so they know whether the ext for their editor is available or not, right there. (IMO)

[2017-09-03 18:48] philpl commented on #101
@morajabi I agree, we should replace the section, but still mention the editors we support :)

[2017-09-04 09:04] mxstbr opened #105 "Can't link to headings on API page"
One can't link to headings on the API page. They are `<code>` blocks and our slugifier obviously doesn't know what to do with that:

![screen shot 2017-09-04 at 11 03 43 am](https://user-images.githubusercontent.com/7525670/30019399-c369cd48-9160-11e7-8800-73a05f436e9b.png)

We should get that fixed as it's pretty annoying!

[2017-09-04 09:37] philpl commented on #105
@mxstbr hm I thought I fixed the stringifier. I’ll take a look this afternoon

[2017-09-06 15:15] morajabi commented on #83
Good news! It's finally done. I'm making the PR now so you can try it!

[2017-09-06 15:20] morajabi commented on #83
@SaraVieira Can you take look? I'd be glad to know what you think, too!

[2017-09-06 15:23] SaraVieira commented on #83
@morajabi I will do that tonight 🎉

[2017-09-10 07:36] morajabi commented on #85
I found this: https://github.com/algolia/docsearch I'm pretty sure it's what Webpack, Babel, React and others use.

[2017-09-11 15:57] mxstbr commented on #85
Let's do it!

[2017-09-14 09:17] mxstbr opened #112 "Add "When to use Comp.extend vs styled(Comp)" to FAQ"
Based on this discussion and the last comment by @geelen: https://github.com/styled-components/styled-components/issues/1083#issuecomment-329296230

[2017-09-14 09:44] morajabi commented on #112
Just to mention, there is a note in docs regarding this:

This is different from passing your styled component into the styled() factory. Calling extend creates a new stylesheet by extending the old one, and thus doesn't generate two classes for a single component.

But it's better to have this in FAQ too.

[2017-09-14 10:36] mxstbr commented on #112
Yes but people are confused when to use it, not what it does :wink: We should replace that note with something like

And then add a FAQ entry "What is the difference between `Comp.extend` and `styled(Comp)`", since I think more people will care about when to use one over the other vs what exactly they do technically.

[2017-09-14 12:29] morajabi commented on #112
It's a bit long, can we shorten it?

[2017-09-14 12:39] morajabi commented on #105
Just discovered there's another problem when there's a code block in the title:
This
![screen shot 2017-09-14 at 5 06 06 pm](https://user-images.githubusercontent.com/12202757/30430038-14b307bc-996f-11e7-8090-cd3e3c6a1267.png)
Does not match the link in the home page:
![screen shot 2017-09-14 at 5 07 14 pm](https://user-images.githubusercontent.com/12202757/30430069-3af83f50-996f-11e7-8061-440e2a6

[2017-09-14 12:46] morajabi commented on #105
@mxstbr BTW, I don't see any problems there:
![screen shot 2017-09-14 at 5 06 06 pm](https://user-images.githubusercontent.com/12202757/30430433-73ff7b28-9970-11e7-825f-0a169c8b6600.png)

[2017-09-14 16:18] kachkaev commented on #94
@philpl what do you think of making this change? Next 3.2.2 is out :–)

[2017-09-25 16:07] #83 closed

[2017-09-25 16:10] philpl opened #115 "Figure out relevant navbar links"
https://github.com/styled-components/styled-components-website/blob/master/components/Nav/NavLinks.js#L40

In the navbar we're currently showing:

- Concepts (`/docs/basics/#motivation`)
- Try it out (`/`)
- Documentation (`/docs`)

My idea would be to remove "Concepts" as it's not a top-level page (and the wrong title), and leave the other two, until we have more pages, like "Wall of Love".

"Try

[2017-09-26 11:39] philpl opened #116 "Theming section is missing information on the "manual" theme prop"
It's possible to circumvent a missing `ThemeProvider` or override it with the `theme` prop.

We're not noting that the `theme` prop is reserved and how it can be used.

https://github.com/styled-components/styled-components/blob/master/src/models/StyledComponent.js#L110

[2017-09-27 14:13] oomathias opened #117 "css`` syntax highlighting does not work inside styled``"
I'm using `prismTemplateString.js` inside my project for documentation purpose and I saw that `css` nested inside `styled` are not colorized properly.

Here is an example from `styled-components` homepage.

![image](https://user-images.githubusercontent.com/465790/30918192-17f27b4a-a39e-11e7-9fa1-bf1436e7114f.png)

Is that a limitation from PrismJS or a bug?

[2017-09-27 18:43] mxstbr opened #118 "Add styled-theming docs to Tooling section"
We should move the https://github.com/styled-components/styled-theming documentation to the website too, likely under the tooling section? Would love more folks to use that package.

/cc @thejameskyle for good measure.

[2017-09-27 20:29] podrivo opened #119 "Show { keyframes } import next to animations"
It needs this quick fix in the documentation: https://www.styled-components.com/docs/basics#animations

[2017-09-28 07:30] mxstbr commented on #119
Duplicate of #60 and #59, PR welcome!

[2017-09-28 07:30] #119 closed

[2017-09-28 07:36] #118 closed

[2017-09-30 20:01] ZackTaylor commented on #115
I'd like to take care of this would the fix be just removing:
[code]
Are there any other links you'd like me to add?

[2017-10-02 12:52] mxstbr opened #123 "Link to awesome-styled-components list"
styled-components has such a great community behind it and there's so many modules built with it! We should link to https://github.com/styled-components/awesome-styled-components from the website to make sure people can discover them.

[2017-10-02 13:46] SaraVieira commented on #123
@mxstbr Where do you think this should be linked ?

[2017-10-02 15:29] mxstbr commented on #123
No idea!

[2017-10-02 15:32] morajabi commented on #123
A community link in the navbar?

[2017-10-02 16:00] mxstbr commented on #123
"Community" should, if anything, like to Spectrum, but what about "ecosystem"? We need to figure out what to put in the navbar anyway, see #115, so we can finally ship your awesome updates @morajabi!

[2017-10-02 16:09] morajabi commented on #123
@mxstbr You're totally right, Max! I like "ecosystem". Also, it sounds like a proper link to put in out empty navbar :)

[2017-10-02 16:50] SaraVieira commented on #123
And should that page simply have the contents of the readme in awesome styled components?

[2017-10-02 18:30] mxstbr commented on #123
We either pull it in via the API or something (so we don't have to keep two lists up to date), or we just like to the repo.

[2017-10-02 18:43] philpl commented on #123
We have a task tracking this: https://github.com/styled-components/styled-components-website/issues/99

I think having a generator API that pulls the readme from the awesome repo and transforms it would be optimal.

[2017-10-02 18:43] #91 closed

[2017-10-02 19:46] morajabi commented on #123
Yeah, that's right. @mxstbr himself opened that too :)

[2017-10-02 20:06] SaraVieira commented on #123
Yellow !

I'm giving this a try with the `md` component but I'm having some hardship :(

Is this the correct way to use it ?

[code]

I will place the state stuff into a readme component but just wanted to get it working first

@mxstbr @morajabi @philpl

[2017-10-02 20:34] morajabi commented on #123
@SaraVieira Sounds good! As we're using Next, It'd be great to have the data fetching (`getReadme()` in your snippet) stuff in `getInitialProps` so we'll fetch them on the server and you don't have to wait for it to finish sometimes.

[2017-10-02 20:37] SaraVieira commented on #123
Sorry, here is the code

[code]

But it doesn't work :(

[code]

[2017-10-02 20:42] morajabi commented on #123
Are you sure it's coming from this code block? Add a `catch` and check if it's this block.

[2017-10-02 20:47] morajabi commented on #123
I think you should call `md``` instead of `md()`

[2017-10-02 20:48] morajabi commented on #123
try calling md like this: `{!this.state.loading && md`${this.state.readme}`}`

[2017-10-02 20:48] SaraVieira commented on #123
@morajabi Updated all the code to use isomorphic options and also placed the error stack

[2017-10-02 20:53] morajabi commented on #123
Did this solve the issue?

[2017-10-02 20:55] SaraVieira commented on #123
I tried that , that gives me a diffrent error:

[code]

[2017-10-02 21:06] SaraVieira commented on #123
It still gives me the same error above even with:

[code]
:(

[2017-10-02 21:07] morajabi commented on #123
OK, push your changes so I can check them here.

[2017-10-02 21:11] SaraVieira commented on #123
Here is the branch: https://github.com/styled-components/styled-components-website/tree/ecosystem-page

[2017-10-02 21:18] morajabi commented on #123
@SaraVieira Maybe it's something in the readme that `md` cannot parse or needs it to be ecaped?

[2017-10-02 21:26] morajabi commented on #123
OK! I got it working by this:
[code]

[2017-10-02 22:21] morajabi commented on #123
Also, we'll need to remove some sections from the readme as they're not related to this page.

[2017-10-02 22:47] philpl commented on #123
@morajabi @SaraVieira sorry for the hardship you two! You guys are right on track :)

Since it’s a tag function that’s supposed to be used for tagged template literals it accepts an array of strings and spreader arguments as interleaved placeholders. In this case the placeholders are expected to be React elements and the strings are expected to be markdown 😬

Feel free to modify the md tag functio

[2017-10-03 07:39] morajabi commented on #123
@philpl

Yeah, I told Sara above and she did that

I think just a type check (to check whether it's an array of strings or just a string) on strings would be fine.

[2017-10-03 09:33] morajabi commented on #105
@philpl Did you see this and #112?

[2017-10-03 09:48] SaraVieira commented on #123
@morajabi You are the best , it works ❤️

@philpl No problem man , never apolagize for being busy :)

[2017-10-03 09:50] morajabi commented on #123
I created a PR (#214) to fix that problem. After merging that, we'll be able to simply call `md` function like this: `md(readme)`. No more hacky-arrays :)

[2017-10-03 09:51] SaraVieira commented on #123
@morajabi Nicce !

The page looks like this at the moment : https://styled-components-docs-hnzxcqefvt.now.sh/ecosystem ?

Watchu guys think ?

cc @mxstbr @philpl

[2017-10-03 09:53] morajabi commented on #123
@SaraVieira As I said earlier:

Anyway, it's my opinion. What do you think @mxstbr @philpl?

[2017-10-03 09:56] SaraVieira commented on #123
I know that why I deployed to get everyones feedback on what should be removed :)

[2017-10-03 09:57] morajabi commented on #123
You're right, sorry for repeating obvious things :)

[2017-10-03 10:01] SaraVieira commented on #123
@morajabi Don't apologize man , I know lots of people don't read comments so it's never bad to repeat stuff 😉

[2017-10-03 23:31] philpl commented on #117
It's a tricky one to get right!

If you'd like to give it a try, take a look at: https://github.com/styled-components/styled-components-website/blob/master/utils/prismTemplateString.js

[2017-10-03 23:33] philpl commented on #115
@ZackTaylor That and renaming `Try it out` to `Homepage` or sth similar, I suppose. Maybe @mxstbr has more ideas?

[2017-10-03 23:40] philpl commented on #123
@SaraVieira Looks good! It'll need some formatting though. We should strip out the title (`# ...`), the table of content, the note, the badge, and the two footers.

The contribute section needs to be replaced with some content of our own that tells people to go to the repo.

And the last part is sth tricky. @morajabi The navbar and sidebar are pretty static and unconfigurable at the moment 😢  Howe

[2017-10-04 08:01] mxstbr commented on #115
Yeah that sounds great, let's just get that done and ship it!

[2017-10-04 08:02] mxstbr commented on #123
This is awesome @SaraVieira! I'd definitely link to the repo from somewhere so folks can contribute their stuff to it?

[2017-10-04 08:23] morajabi commented on #123
@philpl I can take a look at this tonight (GMT+3:30 🙃). Also if we closed #115 and shipped the nav bar before this, we need to add "Ecosystem" link to nav.

[2017-10-04 09:43] SaraVieira commented on #123
@philpl I'll switch the API call to just get the raw one and see if it works :)

About the removing stuff aside from splitting the text in various places I don't know how we can achieve this 😢

@mxstbr Sure ! I'll add links at the bottom 😄

[2017-10-04 09:45] mxstbr commented on #123
Why not? It's not beautiful but if it works, it works!

[2017-10-04 09:46] SaraVieira commented on #123
@mxstbr Just wanted to get that approval :p

I will do this then and have a PR today 😝

When is the next release ?

[2017-10-04 09:47] mxstbr commented on #123
As soon as #115 lands, basically. That's blocking a release atm.

[2017-10-04 09:48] morajabi commented on #123
@mxstbr Apart from this particular situation, I think a tool to generate an object tree from markdown and vice-versa can become handy in these places. Is there such a thing?

[2017-10-04 15:52] philpl commented on #115
@ZackTaylor Are you still interested in helping with this btw? If you're busy at the moment, no worries 👍 , we have enough other tasks for everyone, but this is the only one that holds up a new release of the site right now :wink:

[2017-10-04 15:54] philpl commented on #123
@morajabi Thanks! I don't think that the ecosystem page (+ the navbar fixes) will go in before #115. At least I hope not since it's a trivial PR I think 😆 Shall I open a new issue for you with the things mentioned above for the navbar/sidebar, regarding the homepage and ecosystem page?

[2017-10-04 16:16] morajabi commented on #123
@philpl No problem!

[2017-10-04 16:33] ZackTaylor commented on #115
Yes I'll take a shot at this right now!

[2017-10-04 17:00] ZackTaylor commented on #115
Ok yall made a PR let me know if everything looks good.

[2017-10-04 19:37] morajabi commented on #123
@philpl Can you make the issue with details so I can take a look?

[2017-10-05 07:14] mxstbr opened #129 "Add structured data"
We could use some schema.org structured data to look better in Google Search Results!

[2017-10-05 08:09] morajabi commented on #129
I think we need a better title for the home page too. It shouldn't be just the package name. We can update it like this for example: *styled components - Visual primitives for the component age* or

[2017-10-05 08:09] SaraVieira commented on #101
Fishnuggets! I forgot about this! I will start again on this today :)

It will be a new page on tooling? @mxstbr @morajábig @philpl

[2017-10-05 08:10] morajabi commented on #129
As you said, having these kind of links in Google would be useful/beautiful:
<img width="615" alt="screen shot 2017-10-05 at 11 39 59 am" src="https://user-images.githubusercontent.com/12202757/31216888-f923433c-a9c1-11e7-934f-5b3a13e3ffc1.png">
<img width="502" alt="screen shot 2017-10-05 at 11 39 52 am" src="https://user-images.githubusercontent.com/12202757/31216889-f9307d4a-a9c1-11e7-8f45-26dc

[2017-10-05 08:12] morajabi commented on #101
@morajáBIG ? I'm not BIG. 😆

[2017-10-05 08:13] SaraVieira commented on #99
This will be closed by #123 right?

[2017-10-05 08:14] SaraVieira commented on #94
@kachkaev you can give it a shot! We would love that 🙌

[2017-10-05 08:15] mxstbr commented on #99
Oh, yeah, good call @SaraVieira!

[2017-10-05 08:15] #99 closed

[2017-10-05 08:16] morajabi commented on #99
Except this:

[2017-10-05 08:16] mxstbr commented on #101
Hahaha love that typo!

Yeah, should be in tooling @SaraVieira. Call it "Syntax highlighting" or something like that!

[2017-10-05 08:16] mxstbr commented on #129
Yep, that's what I'm looking for!

[2017-10-05 08:17] mxstbr commented on #99
It's no longer in our README, it's moved to https://github.com/styled-components/awesome-styled-components. That's fine with me since it's a "standard" and not everybody enjoys looking at our beautiful website :wink:

[2017-10-05 08:19] SaraVieira commented on #90
Guys! Isn't this already done?

[2017-10-05 08:20] mxstbr commented on #90
They're still `.js` files as far as I can tell :thinking:

[2017-10-05 08:20] morajabi commented on #99
Sorry! We solved this issue by two PRs.

[2017-10-05 08:26] morajabi commented on #129
But I think one of the reasons we don't have those is we don't have any `<nav>` in our home page. :(

[2017-10-05 08:28] mxstbr commented on #129
Hmm, I don't know! Let's give it a try?

[2017-10-05 08:29] morajabi commented on #129
Anyway, @philpl said we need the navbar for the homepage!

[2017-10-05 08:31] SaraVieira commented on #90
Mhmm, I'll check it out and paste a list here for easy changing

[2017-10-05 09:34] mxstbr opened #130 "Improve inline code styling"
I think our current inline code styling isn't brilliant:

![screen shot 2017-10-05 at 11 32 29 am](https://user-images.githubusercontent.com/7525670/31220537-039ce800-a9c1-11e7-86c8-f75e883a9924.png)

It sticks out of the text like a sore thumb. I much more like GitHubs treatment of `inline code`, but I feel like we just gotta find something that's less obvious and flows better when reading.

[2017-10-05 10:03] morajabi commented on #130
Totally agree with this. Can you tell me more about your preference so I can do some sketches?

[2017-10-05 10:36] morajabi opened #131 "Fix Ecosystem sidebar to use the page headings"
@philpl

We need to grab all headings from the Ecosystem page and build the proper sidebar for this specific page.

[2017-10-05 10:42] mxstbr commented on #130
No preferences or sketches, happy to review a couple ideas!

[2017-10-05 10:43] morajabi commented on #130
OK, let's start with the problems with "current style" and the "Github style".

[2017-10-06 19:49] sk22 opened #136 "innerRef example uses `this` where `this` is the window object"
In https://www.styled-components.com/docs/advanced#refs, the code says this:

[code]

Since the `Form` component is written as an arrow function, I got confused of the use of `this`, as there's no `this` the `innerRef` and `onMouseEnter` props could use but the global scope. And indeed, after hovering over the text box, `window.input` contains the reference to the input element.

Please change tha

[2017-10-06 19:51] sk22 commented on #136
The example here does it better: https://github.com/styled-components/styled-components/blob/master/docs/tips-and-tricks.md#refs-to-dom-nodes

[2017-10-07 10:30] #130 closed

[2017-10-07 10:34] mxstbr commented on #136
PR to clean this up very welcome!

[2017-10-07 18:27] glhrmv commented on #136
I'll work on this.

[2017-10-07 18:36] glhrmv commented on #136
I've submitted #139. Couldn't extend just `Component` so I hope this is fine.

[2017-10-07 20:24] mxstbr commented on #136
Thanks @glhrmv!

[2017-10-07 20:24] #136 closed

[2017-10-09 19:43] morajabi opened #140 "Upgrade to Next@4 with React@16"

[2017-10-11 21:02] jhswart commented on #112
Why not then always use `styled(Comp)`? Isn't it better to reuse already generated stylesheets, than generating new ones with .extend?

[2017-10-13 17:15] philpl opened #141 "Add some information on babelrc env issue"
https://github.com/styled-components/babel-plugin-styled-components/issues/78

When defining an env in the babelrc, the priority of the plugin might be lower than something else that transpiles tagged template literals. This we need to add a note that the plugin might need to go into every env’s plugin if envs are defined and it doesn’t work

[2017-10-16 01:01] SaraVieira commented on #123
Closed by #99

[2017-10-16 01:01] #123 closed

[2017-10-21 04:39] harshmaur commented on #82
Hey, lets do this. Its just a meta tag it asks you to add.

[2017-10-21 09:46] ishankbahl commented on #140
@mxstbr I would like to work on this one.

[2017-10-21 10:43] mxstbr commented on #140
Do it!

[2017-10-21 11:30] vtserman commented on #140
Oh, I was going to work on this 'good first issue'.
But anyway, I've done some initial investigation today.
Since Next.js 4 requires React 16:
- You will not be able to use preact-compat in production mode any more.
- You will need to upgrade Enzyme to v3 and update snapshots for the tests to pass.

[2017-10-21 15:30] ishankbahl commented on #140
@vtserman What changes are to be made for the preact-compat issue?
Saw your comment after making the PR. Though upgraded Enzyme and updated snapshots.

[2017-10-23 19:52] vtserman commented on #140
Current version uses Preact for the production where it gives better performance, but since you upgraded to Next@4 with React@16 you will get an error "Error: Next.js 4 requires React 16." when trying to start application in production mode.
Use next.config.js to customize webpack config to turn off support of preact-compat

[2017-10-24 17:00] mxstbr opened #147 "Add "Why do my DOM nodes have two classes?" to the FAQ"
This is copied from a recent chat log, we should clean this up and add it to the FAQ:

[2017-10-24 17:06] nilsgoksor commented on #147
I could give this a go as my first contribution! Just to clarify, I'm supposed to make a new question in the FAQ explaining this in a good way and using an example?

[2017-10-24 17:43] mxstbr commented on #147
Yes, that's exactly it! Looking forward to your PR :blush:

[2017-10-25 00:07] philpl commented on #147
Wow that would be an amazing addition! We’ve had to answer this too many times :)

[2017-10-25 14:39] victorhqc commented on #86
I'm gonna post a PR soon about this. Gonna be using [this](https://github.com/i18next/react-i18next) and dummy translations just as a start point.

[2017-10-25 14:55] mxstbr commented on #86
Awesome, can't wait!

[2017-10-25 15:58] victorhqc commented on #70
Tooling Proof of concept here https://github.com/styled-components/styled-components-website/pull/148 If that's merged or approved I can extract the current texts (English) so more languages can be easily added 😄

[2017-10-26 08:08] mxstbr opened #150 "Add "Why am I getting attribute warnings?" to the FAQ"
Basically, my answer in this issue https://github.com/styled-components/styled-components/issues/1198#issuecomment-336628848 needs to be cleaned up and put into our FAQ!

[2017-10-26 09:41] tejasbubane commented on #116
I think this can be closed now.

[2017-10-26 10:05] morajabi commented on #150
Should we just explain it over react-router just like you did in that issue or make it more generalized?

[2017-10-26 10:51] morajabi commented on #85
@mxstbr @philpl I need to inject a small JS into the docs page so Algolia team can scrape our site and then I can go forward with the search component.

[2017-10-26 12:11] mxstbr commented on #116
Yep, good catch, thanks @tejasbubane!

[2017-10-26 12:11] #116 closed

[2017-10-26 12:11] mxstbr commented on #150
More generalised I think?

[2017-10-26 12:11] mxstbr commented on #85
Sounds great!

[2017-10-26 12:35] morajabi commented on #150
Yea and then we can take react router as an example since it's the most common cause of this confusion.

[2017-10-26 16:25] morajabi commented on #85
This is the reply I got from Algolia team:

I've successfully configured the underlying crawler and it will now run every 24h.

- Copy the following CSS/JS snippets and add them to your page

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.css" />

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.

[2017-10-26 16:30] mxstbr commented on #85
👌

[2017-10-30 01:18] philpl commented on #105
This should now be fixed in https://github.com/styled-components/styled-components-website/pull/153

The original bug in this issue was fixed a while ago, but the slugifier was still behaving incorrectly.

[2017-10-30 01:31] #105 closed

[2017-10-30 14:29] #112 closed

[2017-10-31 11:51] #141 closed

[2017-10-31 11:57] philpl commented on #140
@ishankbahl let's wait until Next provides support for preact again. We wouldn't gain anything from upgrading to React 16 right now, and Streamed SSR is not interesting for us anyway, as all SSR routes are cached.

[2017-10-31 17:40] philpl opened #155 "Add "Hosted on ZEIT Now" shoutout"
@rauchg will set us up with a sponsorship plan on Now, so we should add a "Hosted on ZEIT Now" shoutout asap to the website.

cc @mxstbr

[2017-10-31 17:56] morajabi commented on #155
Do you have a particular place for that in mind?

[2017-10-31 18:00] philpl commented on #155
@morajabi the footer with the author names I guess. I'll throw it together quickly

[2017-10-31 18:13] morajabi commented on #155
Isn't the padding a bit off? In terms of design? Also, what do you think about changing the footer bg to something lighter or darker?

[2017-10-31 18:16] philpl commented on #155
@morajabi we can fix that in a separate PR. I'm not a big fan of making it darker since it calls upon the colour that is already used in the gradient and navbar. But I'd like to remove the shadow, add a translucent black gradient that makes it darker at the bottom, decrease the height, and recentre it. But yea, separate PR, separate issue

[2017-10-31 18:43] #155 closed

[2017-10-31 18:46] morajabi opened #157 "Redesign that Footer (🎃)"
I'll try to sketch something quickly.

[2017-10-31 18:47] philpl commented on #155
Deployed; should be up after the Cloudflare cache clears itself (max 24h)

[2017-10-31 18:54] philpl commented on #157
Copied from the other issue:

- remove the shadow
- add a translucent black gradient that makes it darker at the bottom (? let's see if that works)
- decrease the height
- recentre content
- (maybe) increase margin

[2017-10-31 19:12] morajabi commented on #157
@philpl I don't understand what do you mean by "translucent black gradient" exactly? Sorry!

[2017-10-31 19:16] philpl commented on #157
@morajabi a gradient above the darkened pale violet red. So optimally a linear gradient that goes from a darker version of the colour from the bottom to a lighter one at the top

[2017-10-31 19:30] morajabi commented on #157
@philpl https://www.figma.com/file/ZZHoPeTYKNtNqcLYnRsQSVxR/Styled-Components
Check this. I haven't changed the layout but we can do that if we want to include more links in the footer.

[2017-11-01 16:22] kitten opened #160 "Replace badges from badgesize.io"
The badges we're including from badgesize.io are currently not served over HTTPS, compromising the site being shown as fully secure.

I'm fairly certain that we can whip something up using https://github.com/siddharthkp/bundlesize instead.

cc @siddharthkp

[2017-11-01 16:23] philpl commented on #157
@morajabi I really like the grey actually. Since that corresponds to our sidebar and navbar, that's fine to me as well :+1:

[2017-11-01 16:47] siddharthkp commented on #160
bundlesize only knows about your master branch, not your released version. So there might be a gap there if you don't always publish master

[2017-11-01 17:30] philpl commented on #160
@siddharthkp I think that'd be totally acceptable. Otherwise we could add an endpoint that reads the bundle size from unpkg and creates a badge using shields.io

cc @mxstbr

[2017-11-01 18:37] siddharthkp commented on #160
Totally can! Don't even need bundlesize™ for that 😄

[2017-11-01 18:38] philpl commented on #160
@siddharthkp I guess that's the way to go then 😆

[2017-11-02 12:25] nilsgoksor commented on #147
Hi,
I'm still working on this but it's going slowly because I've encountered some issues + been on vacation. I was hoping I could get some guidance...

After cloning the repository and making my changes in my branch, I try to do "npm start" in my repository but I get "module.js:471 throw err;" which means it's something wrong with packages.json. I've tried googling without success.

I suspect I do

[2017-11-02 13:23] philpl commented on #147
@nilsgoksor are you using `yarn` and `node` >= 6? That should do it. Otherwise feel free to ping me on Twitter to get some hands-on support :wink:

[2017-11-02 17:26] nilsgoksor commented on #147
Thanks for the quick answer! I'm using both. I managed to fix the issue with;
set NODE_ENV=development&& nodemon server.js

But it's good to know I can ping you the next time I encounter some problem ;)

[2017-11-02 17:49] philpl commented on #147
Are you sure you're running the `yarn dev` task then? Also, you won't need `nodemon` since next takes care of updates/restarts

The `yarn start` task is for production, so `yarn build` needs to be run first.

[2017-11-02 17:52] mxstbr commented on #147
Ohh, are you on windows @nilsgoksor?

[2017-11-03 08:59] morajabi opened #162 "Remove NextJS section inline snippet and a typo"
https://www.styled-components.com/docs/advanced#nextjs

As our inline snippet exactly matches with NextJS repository why we still have it here? Also there's a type `fro` -> `for`

/cc @mxstbr @philpl

[2017-11-03 11:30] philpl commented on #162
On the one hand it’s good for convenience on the other we don’t have to keep it up to date and can just keep linking to the next repo.

I’d be happy if anyone would like to pick this up :)

[2017-11-04 14:36] mxstbr commented on #90
I just found reactdown by @andreypopp which looks perfect for our purpose? https://www.npmjs.com/package/reactdown (he wrote that four years ago...) It's basically what we're using right now BUT let's your write your stuff as external .md files.

Also found https://github.com/mapbox/jsxtreme-markdown, which is similar but looks a bit more like a templating language, and https://github.com/cerebral

[2017-11-04 21:19] nilsgoksor commented on #147
I'm using yarn dev now and it's working! Thanks @philpl :) And I'm on mac @mxstbr.

This is what I've done so far. I'm not sure I understood it 100% correctly, any feedback is appreciated!

![screen shot 2017-11-04 at 22 18 30](https://user-images.githubusercontent.com/11962929/32409544-2f276cca-c1ae-11e7-9c15-9b93aef90207.png)

 I also wonder how to use ${Button} because currently it's not workin

[2017-11-04 21:31] philpl commented on #147
@nilsgoksor I don’t think we need the live example, now that I’m seeing it’s context 🤔 it doesn’t really add any value, since you don’t need to prove that that’s how it works. Also, we have plenty example around that users can test, since there’s more live examples and we are using styled-components for the are of course.

Can you also just submit a PR? We can then comment and request changes ther

[2017-11-06 09:54] morajabi opened #165 "Stringifier problem with [v2] badge on several titles"
There's still an extra dash after links ending with [v2] badge.
Look at the link in the sidebar and the actual link in the chrome URL bar:
![screen shot 2017-11-06 at 1 23 03 pm](https://user-images.githubusercontent.com/12202757/32435285-bc76097c-c2f5-11e7-8ecd-5ef749e2e979.png)

/cc @philpl

[2017-11-06 17:43] philpl commented on #165
Should already be fixed by: https://github.com/styled-components/styled-components-website/pull/164

[2017-11-06 17:43] #165 closed

[2017-11-06 19:10] morajabi commented on #165
I knew about that, but why don't we release a new version?

[2017-11-06 19:11] philpl commented on #165
@morajabi haha I haven't gotten to it yet, sorry. I'll do so in a few minutes

[2017-11-06 19:23] morajabi commented on #165
No worries! Just don't close these until it's REALLY fixed. These are good reminders :)

[2017-11-06 19:26] philpl commented on #165
@morajabi It depends on what you refer to as fixed :wink: So I usually close issues when they're fixed on `master`, regardless of whether they're live or not. The same goes for packages for example.

This would be great to be accompanied by auto-deployment, which we don't have yet, but I still prefer to just deploy every now and then, and to close issues when they're done, as in no more code needs

[2017-11-06 19:46] morajabi commented on #165
@philpl You're right and I see what's your point but at the end of the day, an issue is solved when the end user does not encounter it anymore. 😉 When we haven't deployed, the issue is still out there no matter it is fixed in the code.

[2017-11-09 03:05] danielzy95 commented on #162
Hi! I'd love to help out with this! I'll see what I can do :)

[2017-11-09 03:26] danielzy95 commented on #162
<img width="1439" alt="screen shot 2017-11-08 at 9 25 13 pm" src="https://user-images.githubusercontent.com/7264984/32586949-5f13da0c-c4cb-11e7-9c92-ee89a5c63014.png">
Is this what you want for the Next.js section? @morajabi @philpl

[2017-11-09 08:36] morajabi commented on #162
Thanks, @danielzy95 awesome!  @philpl What do you think about adding a one-paragraph explanation of what they should do? For example:

[2017-11-09 22:02] philpl commented on #162
@morajabi sounds perfect!

[2017-11-09 22:05] danielzy95 commented on #162
@morajabi So you'd like me to add that paragraph to the Next.js section?

[2017-11-09 22:15] philpl opened #167 "Remove docs snapshots"
I'm not sure when we've introduced the snapshots for docs pages, but that doesn't add any value for testing, since it mostly just pollutes the PR with information that we don't need.

It'd be useful to replace this with an automated test that checks all docs pages in one checking whether:

- they render without an error
- they don't render the placeholder: https://github.com/styled-components/styl

[2017-11-10 20:25] mxstbr opened #170 "Inline logos on the homepage"
The logos on the homepage should be inline SVGs rather than external files.

[2017-11-10 20:26] mxstbr opened #171 "Proxy shields.io badge"
The shields.io badge takes a looooong time to load. We should proxy it through styled-components.com/downloads.svg or something so that we can cache the file in CloudFlare for 24h.

[2017-11-10 20:36] mxstbr commented on #36
This is fixed, right?

[2017-11-10 20:37] mxstbr commented on #115
This is fixed, thanks to @ZackTaylor!

[2017-11-10 20:37] #115 closed

[2017-11-11 10:47] morajabi commented on #170
Heya check it out!

[2017-11-11 12:02] morajabi commented on #171
Hooray! It's done too! 😛🤓

[2017-11-12 17:08] danielzy95 commented on #162
@morajabi @philpl  My PR got merged :) I think you can close this issue now

[2017-11-12 17:43] #162 closed

[2017-11-13 13:22] #147 closed

[2017-11-13 15:37] #171 closed

[2017-11-13 15:47] #170 closed

[2017-11-28 19:09] philpl opened #177 "Add more notes on specificity to "Existing CSS""
https://www.styled-components.com/docs/advanced#existing-css

In this section we give some examples on how to edit the exisiting CSS files / code to override styled-components' styling, but it turned out that the reverse is more popular. So a lot of issues are being opened repeatedly, asking on how to make styled-components generate classes with a higher-specificity.

An example issue: https://git

[2017-11-28 19:59] adamchenwei commented on #177
This is really a hack, I wouldn't call it a long-term solution, because the nature of it. It not as bad as using !important though lol

[2017-11-29 08:07] morajabi commented on #177
@adamchenwei When the user is using SC on an existing codebase with another styling solution which who knows how that works (!) the only we to deal with that is this. Adding SC on top of that codebase is "a hack".

[2017-11-29 12:31] philpl commented on #177
@adamchenwei Unfortunately it's the only solution when dealing with existing CSS. I don't see a solution to this as a "first citizen" of styled-components, as it's simply a best practice-breaking solution to introduce external CSS in the first place. Thus this workaround is here to stay and will need to be documented to prevent any further confusion.

I can see a quick babel plugin as a solution (

[2017-12-15 12:29] mxstbr opened #182 "Add note about ReactNative shorthands"
Based on the discussion here: https://github.com/styled-components/styled-components/issues/465

[2017-12-15 12:35] mxstbr opened #183 "Add note about typing props to TypeScript doc"
Based on https://github.com/styled-components/styled-components/issues/565#issuecomment-287535650

[2017-12-16 10:12] mxstbr opened #184 "Add Patreon logo to homepage"
patreon.com appears to be entirely built with styled-components! :tada:

Source and link to brand assets: https://mobile.twitter.com/jbyttow/status/941824755694313473

[2017-12-18 09:24] mxstbr opened #185 "Move alternative installation instructions to website"
The [alternative installation instructions](https://github.com/styled-components/styled-components#alternative-installation-methods) from the main README should really live on the website instead.

Somebody should move them over!

[2017-12-18 09:25] mxstbr opened #186 "Move syntax highlighting setups to the website"
Right now we document [how to set up syntax highlighting](https://github.com/styled-components/styled-components#syntax-highlighting) in the main README, but really that should live on the website.

Somebody should move that information over!

[2017-12-18 09:59] mxstbr commented on #186
Oh, duplicate of #101

[2017-12-18 09:59] #186 closed

[2017-12-18 10:00] mxstbr commented on #101
@SaraVieira any chance you could pick this up based on https://github.com/styled-components/styled-components/pull/1367? :blush:

[2017-12-18 10:20] SaraVieira commented on #101
YES ! I'm so sorry I have been somehow out but I do have time this week 🤗
Added to calendar so that I don't forget

<img width="716" alt="screen shot 2017-12-18 at 10 19 47" src="https://user-images.githubusercontent.com/1051509/34101243-012a9d78-e3dd-11e7-931d-f476d88f0a02.png">

[2017-12-18 11:07] mxstbr opened #187 "Add "How can I override styles with higher specificity?" to FAQ"
Since this question comes up almost every day in the main repo, we should add a FAQ entry to the website.

Based on [this question and answer](https://github.com/styled-components/styled-components/issues/1253#issuecomment-337871693) we should add a note about the `&&&` workaround and why it works to the FAQ.

[2017-12-18 11:45] JamesJefferyUK commented on #184
On it

[2017-12-18 11:53] mxstbr commented on #184
Awesome!

[2017-12-18 11:54] morajabi commented on #184
@JamesJefferyUK Can you please give me the logo to optimize the SVG for you and then you can add it?

[2017-12-18 12:19] GGAlanSmithee commented on #187
I can take this one

[2017-12-18 12:21] GGAlanSmithee commented on #187
Regarding overriding inline CSS, will this trick work too, or will you have to use `!important` in that case? (I can investigate this if needed)

[2017-12-18 12:22] mxstbr commented on #187
I think if you use enough ampersands it might work? Not sure though, good question!

[2017-12-18 12:24] GGAlanSmithee commented on #187
After a quick glance at google it looks like the most reliable way is to use the `element-attr` CSS Selector in conjunction with `!important`;

[code]

I'll make some tests though, and document both cases in the FAQ section.

[2017-12-18 12:35] mxstbr commented on #187
Yep, but adding `!important` to every rule is very annoying, thus the `&&&` hack:

[code]

This will output the following CSS:

[code]

Which has a high enough specificity to solve the ordering issue. To override inline styles you'll likely have to use `!important`, but imo that's not really what most people have issues with?

[2017-12-18 13:08] JamesJefferyUK commented on #184
@morajabi sure I got them from their site: https://www.patreon.com/brand/downloads

[2017-12-18 13:57] morajabi commented on #184
@JamesJefferyUK Use https://jakearchibald.github.io/svgomg/ and play with options, then copy the code and include it in the logos file.

[2017-12-18 16:56] mxstbr opened #188 "Jump to Section, even if it has subsections, from sidebar"
Based on the discussion in #143 we should make it so that clicking on a section in the sidebar, even if it contains subsections, jumps to that section, instead of just showing its subsections.

[2017-12-18 20:57] mxstbr opened #189 "Add upgrading guides"
Looking at our traffic stats, a search for "Upgrading" is our 5th most visited page on the main repo:

<img width="218" alt="screen shot 2017-12-18 at 21 54 49" src="https://user-images.githubusercontent.com/7525670/34127640-2be03328-e43e-11e7-95b1-5da25f026eb5.png">

We should add an upgrading guide for v1 -> v2 to the website, which would contain this information: https://github.com/styled-compo

[2017-12-19 11:49] morajabi commented on #187
The ampersand solution is for overriding styles applied with former classNames or styled applied from the parent and some other cases. It's not meant to be used for overriding inline styles.
[code]
[code]

[2017-12-19 13:37] GGAlanSmithee commented on #187
@morajabi thanks, that's what I thought. Let's document both cases though, for clarity.

[2017-12-19 13:42] JamesJefferyUK commented on #185
I'll take this one 👍

[2017-12-19 16:46] mxstbr opened #194 "Integrate Danger and make it post screenshot image diffs"
We should integrate DangerJS into this repo too (just like we do for the [main repo](https://github.com/styled-components/styled-components/blob/master/dangerfile.js)) and make it post the diff image if our snapshot integration tests failed.

/cc @orta maybe somebody has written a Danger plugin for this already?

[2017-12-19 17:15] orta commented on #194
They haven't - was just having a chat about that as someone has built [out a version for Ruby](https://twitter.com/carlostify/status/941273407215276032)

The tricky thing will be uploading assets to render in the issue. On Circle you can throw things into an artifacts dir, but travis I'm not really sure. One of our iOS projects does this by uploading to S3 - https://github.com/ashfurrow/second_cur

[2017-12-19 17:17] mxstbr commented on #194
Oh yeah true, good point—the image diff exists on Travis but how do we get that to display in the issue? 🤔

[2017-12-19 18:28] #101 closed

[2017-12-20 11:43] SaraVieira commented on #189
Why adding the : https://github.com/styled-components/styled-components/blob/d2d6be5feafdc116a3429e6b6f71f7718c51a8ba/CHANGELOG.md with some text on the top that tells users how to upgrade ?

[2017-12-20 11:45] SaraVieira commented on #189
Using the API show a list of https://github.com/styled-components/styled-components/releases is also possible : https://developer.github.com/v3/repos/releases/#list-releases-for-a-repository

[2017-12-20 11:47] mxstbr commented on #189
That second one sounds perfect, since we usually have more "human-readable" patch notes in the GitHub releases.

[2017-12-20 11:47] SaraVieira commented on #189
Makes sense :)

Should this be a new page in the header ?

[2017-12-20 11:48] mxstbr commented on #189
Don't really know, the header's getting pretty full. Maybe `/docs/releases`? :confused:

[2017-12-20 11:52] SaraVieira commented on #189
Looking like this ?

<img width="1312" alt="screen shot 2017-12-20 at 11 51 09" src="https://user-images.githubusercontent.com/1051509/34205884-1d07f1d0-e57c-11e7-85b0-c74ce29bd908.png">

[2017-12-20 11:57] mxstbr commented on #189
I guess, though that's kinda weird. Maybe we should just get rid of the "Homepage" link (since the logo links there anyway) and add a "Releases" link at the end after "Ecosystem", that's probably better?

[2017-12-20 11:59] SaraVieira commented on #189
<img width="1312" alt="screen shot 2017-12-20 at 11 58 07" src="https://user-images.githubusercontent.com/1051509/34206124-13bee59c-e57d-11e7-86b7-24a79e846286.png">

Better ? :)

[2017-12-20 12:03] philpl commented on #189
@SaraVieira Perfect :heart:

[2017-12-20 12:16] SaraVieira commented on #189
Awesome ! I will try to get started on this after work today 🤓

If I don't anyone is welcome to pick up this , it already has a good documentation

[2017-12-22 22:20] SaraVieira commented on #189
This is what I have so far

<img width="1792" alt="screen shot 2017-12-22 at 22 19 01" src="https://user-images.githubusercontent.com/1051509/34313833-3c53ce9c-e766-11e7-828b-1984fb060710.png">

[2017-12-22 23:08] philpl commented on #189
@SaraVieira looking good :) only thing is that who released it is irrelevant to the reader. The version number and date however are vital 😬

[2017-12-23 09:08] mxstbr commented on #189
Yeah I'd probably even totally remove the person and make the version number the heading?

[2017-12-23 21:27] SaraVieira commented on #189
I know that makes sense but i am sucker for photos 😛

New version:
![screen shot 2017-12-23 at 21 26 35](https://user-images.githubusercontent.com/1051509/34322739-124a9550-e828-11e7-8981-8d65953d8039.png)

[2017-12-23 21:28] SaraVieira commented on #189
They all have the same text because I am having a problem with the md component :(

[2017-12-23 21:59] SaraVieira commented on #189
Fixed

[2017-12-29 12:43] #187 closed

[2017-12-30 20:18] mxstbr opened #201 "Differentiated styling for release dates"
The date in the header in italic on the releases page should be "less important", maybe we can move it below/above the header and/or make it smaller and/or give it a different color?

<img width="975" alt="screen shot 2017-12-30 at 21 16 58" src="https://user-images.githubusercontent.com/7525670/34457086-d1cb116a-eda6-11e7-8cdb-083084b7ec69.png">

[2017-12-30 20:25] mxstbr opened #202 "Adjust heading levels on releases page"
The `/releases` page on the website is auto-generated from the GitHub releases. (thanks to @SaraVieira) This can lead to situations where the headings inside a release are at the same level as the release itself:

<img width="1081" alt="screen shot 2017-12-30 at 21 18 55" src="https://user-images.githubusercontent.com/7525670/34457097-0e844270-eda7-11e7-97d3-442c54a86067.png">

Or even above it:

[2017-12-30 21:17] morajabi commented on #202
I personally think most of it is not worth the effort or at least the extra logic to maintain. It can be fine with a simple effort when writing the notes.

But I agree we can just change spacing, font size and the font weight, but I don't like manipulating the MD. What do you think?

[2017-12-30 21:59] mxstbr commented on #202
Let's start with the easy bits first _for sure_, don't worry about tackling this.

[2017-12-30 23:39] SaraVieira commented on #189
closed by #198

[2017-12-30 23:39] #189 closed

[2017-12-30 23:46] SaraVieira commented on #201
<img width="630" alt="screen shot 2017-12-30 at 23 46 08" src="https://user-images.githubusercontent.com/1051509/34458033-a3a8eafe-edbb-11e7-9e70-b8e54abfa50a.png">

[2017-12-30 23:47] SaraVieira commented on #201
<img width="651" alt="screen shot 2017-12-30 at 23 47 04" src="https://user-images.githubusercontent.com/1051509/34458036-c2b3bd20-edbb-11e7-8c17-ad1a6dd7b766.png">

[2017-12-30 23:47] SaraVieira commented on #201
@mxstbr @morajabi I like the first one ? What do you think ?

[2017-12-30 23:51] philpl commented on #201
@SaraVieira I think the parantheses are superfluous if we move it below (which is a good idea 😬)

I prefer the first one. If you’ll go with the second, as in no accent colours, then I’d lighten the colour and use the normal font, not mono space 👍

[2017-12-30 23:53] SaraVieira commented on #201
<img width="1117" alt="screen shot 2017-12-30 at 23 52 52" src="https://user-images.githubusercontent.com/1051509/34458075-9d7fc0c0-edbc-11e7-9ed6-d4585acf5402.png">

Like this @philpl ?

[2017-12-30 23:53] philpl commented on #202
I think it should be quite trivial to add an offset to the heading level :)

[2017-12-30 23:55] philpl commented on #201
@SaraVieira maybe a slightly larger margin but it’s looking sleek 👍✨

[2017-12-31 00:02] SaraVieira commented on #201
Fixed and PR created #203  🎉

[2017-12-31 00:08] SaraVieira commented on #185
<img width="1095" alt="screen shot 2017-12-31 at 00 08 05" src="https://user-images.githubusercontent.com/1051509/34458138-b90d2330-edbe-11e7-8ebf-94b1d641062c.png">

Already added

[2017-12-31 00:08] #185 closed

[2017-12-31 07:19] morajabi commented on #201
Can I ask why the version and the headings have the same styling? It doesn't feel they are nested. Maybe we should add a bg to each release section like this: first one light grey second white, third light grey, and so on. (what is it called in English 😅)

(I like the change here tho Sara)

[2017-12-31 07:23] morajabi opened #204 "Missing dot in the first paragraph on the Releases page (+ writing style question)"
We should add a full stop at the end of the sentence.

Also, what do you think about making the `CHANGELOG` capital case or lowercase?

[2017-12-31 09:56] #201 closed

[2017-12-31 10:48] SaraVieira commented on #204
@morajabi I used to have a quality analyst in my team that kept making me put full stops.
I have found a replacement for him  🦄

[2017-12-31 10:56] mxstbr commented on #204
Yeah, there's also not really a need to link to the changelog on GitHub since the changelog is right below that paragraph. Should probably rephrase to

[2017-12-31 14:21] mxstbr commented on #157
Done thanks to @tomvaneygen!

[2017-12-31 14:21] #157 closed

[2018-01-06 11:07] mxstbr opened #206 "Add FAQ entry about browser support"
We should add an FAQ entry about "Which browsers does styled-components support?"

The answer is that styled-components supports all the browsers that ReactDOM supports. We should link to the React docs section about this topic (https://reactjs.org/docs/react-dom.html#browser-support), and we should probably explicitly mention that ReactDOM currently supports "IE9+", i.e. any browser and version t

[2018-01-06 18:10] mxstbr commented on #177
This is now in the FAQ.

[2018-01-06 18:10] #177 closed

[2018-01-08 17:03] morajabi commented on #206
One question, do you recommend me to help one of my friends who is just learning HTML and CSS to tackle this?

If anyone wants to tackle this don't hesitate plz :)

[2018-01-08 17:06] morajabi commented on #204
@SaraVieira Anytime! You can install Grammerly for CFPs or emails to avoid :)

[2018-01-08 17:09] mxstbr commented on #206
Probably not depending on their skill level, but maybe you can walk them through it?

[2018-01-08 21:23] morajabi commented on #206
Yes, I meant walk them through, would that be helpful or harmful? I guess it might make them familiar w/ how Github works.

[2018-01-09 18:30] andrwsalcdo commented on #206
I can try to tackle this if it's still available?

[2018-01-10 00:35] halvves opened #209 "Highlight the importance of using the css helper"
Aside from being a nice tool for organizing/reusing css in different ways, we all know that css helper is also needed to nest interpolations etc...

I think that it would be helpful for those learning sc for the first time to encounter examples and notes early on about the importance of the css helper. Perhaps we could even stress using it regularly as a best practice, especially as it sounds like

[2018-01-10 08:13] mxstbr commented on #209
This is such a great point, I think many people miss this fact. I think there's a couple good first steps:

1. Make sure the docs and examples are using `css` everywhere
2. Have an FAQ entry "Why should I use the `css` helper over just a string?"
3. Maybe mention it more often elsewhere in the docs?

Any PRs making this more obvious would be much appreciated! :pray:

[2018-01-11 12:43] #206 closed

[2018-01-11 16:06] halvves opened #214 "Prefix heading IDs with version number on release page"
Right now on the releases page there are many duplicate id's/anchor's (eg `#changes`). I'm thinking we can try to make a way to pass an id prefix to `md()` so we can hand version down to make anchors like `#v2.3.1-changes` (better semantics, accessibility, seo, ux, etc).

[2018-01-11 17:01] mxstbr commented on #214
Sure, sounds reasonable to me!

[2018-01-12 19:38] yordis opened #216 "Typescript section and React Native"
Related to https://www.styled-components.com/docs/api#typescript

The next code snipper wouldn't work for `react-native`

[code]

because I actually use `styled-components/native` I can't use the code snippet.

Looking into the code this will require to fix the typespec for `ThemedStyledComponentsModule` of the native version

[2018-01-12 23:30] #214 closed

[2018-01-12 23:31] philpl commented on #216
cc @styled-components/typers

[2018-01-15 20:26] halvves commented on #202
Closed by #215

[2018-01-15 20:26] #202 closed

[2018-01-19 07:47] SaraVieira commented on #209
@mxstbr I can't add these things but can you give me a good description of why this is a good practice?

[2018-01-19 08:48] #204 closed

[2018-01-19 15:25] philpl commented on #209
@SaraVieira Just to mention a couple of reasons:

- Nested interpolations (Not using `css` means styled-components won't be responsible for the interpolations; they'll be stringified immediately)
- Syntax highlighting / Linting (Every editor/linter needs something to target)
- Transpilation (Likewise we'll need it to transpile a couple of things e.g. minification)
- Future strict parsing/conversio

[2018-01-28 13:44] mxstbr opened #229 "Add OpenCollective sponsors to homepage"
Now that we have an [OpenCollective](https://opencollective.com/styled-components) we should add all sponsors' logos (i.e. folks who contribute 200$+) to the homepage, probably at the bottom below the introductory explanation.

OpenCollective has an API that gives you all the members: https://opencollective.com/styled-components/members/all.json?tierId=3278

[2018-01-28 16:14] osamajandali commented on #229
I will be happy to do this 😎

[2018-01-28 16:16] mxstbr commented on #229
Awesome, looking forward to the PR!

[2018-01-29 20:15] osamajandali commented on #229
I'm thinking about the design like this, just adding the logos linked:
![stlyed](https://user-images.githubusercontent.com/13832392/35532087-a8a70d0e-0541-11e8-8833-7694d20ba187.jpg)

or should we make it like backers version ?

[2018-01-29 20:26] mxstbr commented on #229
No I like that! 👌

[2018-02-03 19:25] osamajandali commented on #229
This is done just couple of things need your opinion :
- The text under the sponsors title
- I designed a svg that is rendered when there is no image on the sponsor profile instead of blank photo.
<img width="1002" alt="screen shot 2018-02-03 at 9 02 19 pm" src="https://user-images.githubusercontent.com/13832392/35770560-5effc888-0926-11e8-969c-66fdc21b2cfc.png">

- Should I add loading animation

[2018-02-03 19:29] mxstbr commented on #229
Looking great! I assume most sponsors will be companies, I think we should filter out the core team from those.

/cc @xdamman

[2018-02-04 12:32] mxstbr commented on #229
But why is the core team part of the Sponsor tier then? :thinking: None of us sponsor styled-components

[2018-02-04 12:48] osamajandali commented on #229
I think a config should be there to categories the sponsors.
Take a look at [babel open collective](https://opencollective.com/babel/), they have sponsors categories and if you take a look at their [API](https://opencollective.com/babel/members/all.json), they have tier key in the sponsor object and in styled component API doesn't have.

[2018-02-04 14:05] mxstbr commented on #229
We have a "Sponsor" tier and a "Backer" tier: https://opencollective.com/styled-components/

<img width="332" alt="screen shot 2018-02-04 at 15 04 48" src="https://user-images.githubusercontent.com/7525670/35778310-c40bd3ca-09bc-11e8-8d61-6c20c685c6b2.png">

I want to display the Sponsors on the homepage.

[2018-02-04 22:39] xdamman commented on #229
It's because it should be `TierId` and not `tierId` as the query parameter.

[2018-02-18 08:20] chinesedfan commented on #160
Have it already been solved in #173?

[2018-02-18 08:36] morajabi commented on #160
@chinesedfan That's probably is right

[2018-02-18 09:06] #160 closed

[2018-02-19 08:47] chinesedfan commented on #131
@morajabi Already done by #143?

[2018-02-19 08:53] mxstbr commented on #131
Good catch @chinesedfan!

[2018-02-19 08:53] #131 closed

[2018-02-19 09:15] morajabi commented on #131
Oh, it feels good looking how much we've done 😊

[2018-02-21 11:55] chinesedfan commented on #188
Tested with https://github.com/zeit/next.js/pull/2223. It works, but requires us to update next to at least v3.0.2.

[2018-02-22 12:47] adaynit commented on #229
I would like to contribute to this. Could you tell me where I can access your homepage on the GitHub?

[2018-02-22 13:05] mxstbr commented on #229
@adaynit unfortunately, @osamajandali is already working on this in #230!

[2018-02-25 11:44] morajabi commented on #229
@adaynit Actually, this is the repo for the homepage 😅 Feel free to grab other issues! 👍

[2018-03-06 05:50] taneba opened #242 "Releases page is missing"
I accessed following url but it shows an error page(An unexpected error has occurred.).
https://www.styled-components.com/releases

Is this already known issue?

[2018-03-06 08:26] mxstbr commented on #242
Works for me?

[2018-03-06 08:26] #242 closed

[2018-03-06 08:37] taneba commented on #242
oops, it works correctly now.
It may have been a temporary bug 🤔

[2018-03-06 08:39] mxstbr commented on #242
🤔

I'll keep an eye out for that, thanks for pinging us!

[2018-03-06 21:40] rodocite commented on #150
I submitted a PR for adding this documentation. I peeped the RR source for Link (https://github.com/ReactTraining/react-router/blob/master/packages/react-router-dom/modules/Link.js#L75) and it is as @mxstbr described. I kept his explanation but adjusted the examples slightly to provide a bit more detail.

I think there are many instances where this can happen aside from RR. People will probably ru

[2018-03-08 13:53] #150 closed

[2018-03-08 13:53] mxstbr commented on #150
Thank you @rodocite!

[2018-03-20 12:58] swissmanu commented on #216
the current typings for the `react-native` part do not work at all when you want to apply themes.
is this already in work? will have a look otherwise.

[2018-03-30 18:51] che-perez commented on #184
@mxstbr is this issue still open for grabs? if so I took the liberty to add the logo to my local repo and this is how it looks...
<img width="1401" alt="patreon logo screenshot" src="https://user-images.githubusercontent.com/23219022/38149699-950e4d72-3429-11e8-8b04-d7d6f72ef29e.png">

[2018-03-30 20:41] mxstbr commented on #184
Yes! PR?

[2018-04-12 03:12] probablyup opened #254 "Add some docs & examples of the new test utils"
Added in this PR: https://github.com/styled-components/styled-components/pull/1652

[2018-04-17 04:58] probablyup commented on #184
Closed via https://github.com/styled-components/styled-components-website/pull/250

[2018-04-17 04:58] #184 closed

[2018-04-19 19:10] zomars commented on #68
I'm bumping this issue. it woule be really helpful to have more docs on this.

[2018-04-24 16:25] mckernanin commented on #85
@morajabi need any help getting this wrapped up?

[2018-04-24 16:27] mckernanin commented on #94
Closing, as there's work in progress to get up to next 5: #232

[2018-04-24 16:27] #94 closed

[2018-04-24 16:30] mckernanin commented on #93
@harshmaur need any help here?

[2018-04-24 16:30] mckernanin commented on #84
@morajabi need any help here?

[2018-04-24 16:31] harshmaur commented on #93
@mckernanin Hey! You can take this up!

[2018-04-24 16:32] mckernanin commented on #229
@osamajandali need any help with #230 ?

[2018-04-25 08:26] osamajandali commented on #229
@mckernanin Thank you ! I have finished it out back then but @kitten have issues on it that I need more details on it.
Maybe the reviewers are busy with some other stuff that's why I was on holding state.

[2018-04-25 09:07] morajabi commented on #85
This was done actually, but I think we had a minor problem on mobile and we hold it? @mxstbr Am I recalling correctly?

[2018-04-25 09:08] morajabi commented on #84
@mckernanin I think so! It is just a design currently. @kitten Do we still want this?

[2018-04-25 11:42] kitten commented on #84
@mckernanin @morajabi Yea, we definitely still want this :heart:

[2018-05-07 21:07] vjpr opened #256 "The landing page example doesn't look the same when copied to user code"
There is a `text-align: center` being inherited from Pages > Wrapper.

And then when you scroll down a `styled.button` is used instead of a `styled.a`.

Maybe better to standardize.

[2018-05-18 12:12] lifeiscontent commented on #56
@kitten if I use defaultProps vs attrs, which one would trump if both have the same key/value? Why would you use attrs over defaultProps?

also, how do you use a prop for styling such as <Box flex="1 0 auto" /> without it throwing a warning?

[2018-05-21 10:13] mxstbr opened #259 "Showcase a complex component built with styled-components"
Questions like this keep coming up:

This happens because our docs mostly only showcase this kind of styled-components usage:

[code]

but they never show how those small components then tie a bigger component together, i.e. it's not immediately clear how to build something like this with styled-components:

[code]

For experienced s-c users it's obvious that you'd do something like this:

[code]

[2018-05-21 10:25] mxstbr opened #260 "Explain the thinking behind the recommended usage"
I see this pattern used way too often in the wild:

[code]

We should explain why this is much less preferable than the recommended pattern of creating individual components like so:

[code]

Which is because

[2018-05-21 17:05] kitten commented on #260
Same, I think #261 is an awesome start. Maybe we'd just like to clarify there that it's better to keep StyledComponents where we'd normally use elements?

I'd also add to the explanation that we not only swap out elements for StyledComponents _first_ for maintainability and to prevent lock-in, but from another perspective we're making the most minimal change possible (when thinking of abstractions

[2018-05-21 17:11] kitten commented on #259
@mxstbr Can be closed considering that you also created #260? Maybe we can also follow this up with an FAQ?

@varjmes I believe these issues all come from your Twitter thread with @mxstbr? Thank you so much for asking these questions publicly! I want to underline how important this is. In this particular case we've explained this a couple of times, same questions, same answers. We might've even pr

[2018-05-22 07:58] mxstbr commented on #259
Yep! :pray:

Thanks @oliverturner you're the best!

[2018-05-22 07:58] #259 closed

[2018-05-22 08:01] mxstbr opened #262 "Warn people from creating components in render"
I've seen code like this float around a bit:

[code]

This is **extremely bad for performance** as the component will be re-created on every single render pass!!! styled components should always be defined outside the render method statically. Specifically in the example above it should be refactored as:

[code]

We should mention this somewhere visible in the docs so folks stop using this pattern

[2018-05-22 13:30] varjmes commented on #259
Thanks for helping me!

[2018-06-02 18:45] dimitrisnl opened #264 "Minor typo in advanced section"
A minor typo I noticed while browsing the documentation

`specificty` should be `specificity`

https://github.com/styled-components/styled-components-website/blob/master/sections/advanced/existing-css.js#L43

[2018-06-03 08:26] AshCoolman opened #266 "QUESTION: `attrs(...)` vs `defaultProps`"
I've started using the chainable attribute of `attrs({...})` instead of setting `defaultProps` (using a new statement), just so my linter tells me if I've forgotten to export it (i.e. warn about an unused variable).

I'm not sure control flow of the two techniques are equivalent, can anyone clear up this specific question for me? I'll update docs accordingly.

Note: some [related info](https://git

[2018-06-03 08:27] AshCoolman commented on #56
@lifeiscontent : I would also like to know the answer. I made a question: https://github.com/styled-components/styled-components-website/issues/266

[2018-06-22 17:04] morajabi opened #271 "Do we still want the search? Algolia gave us 10 days"
This is from Algolia on 21, June. What we're gonna do? :)

[2018-06-22 17:09] probablyup commented on #271
Yeah we definitely want it - need to get https://github.com/styled-components/styled-components-website/pull/158 mergeable.

[2018-06-23 10:21] s-pace commented on #271
Happy to help if needed

[2018-06-26 20:47] #262 closed

[2018-07-02 12:13] x3388638 opened #274 "Doc issue: missing section title"
The title of doc section `Basics > Coming from css` is disappeared.
https://www.styled-components.com/docs/basics#coming-from-css

as the screenshot:
![](https://i.imgur.com/ddXcE4c.png)

I think the source code is [here](https://github.com/styled-components/styled-components-website/blob/master/sections/basics/coming-from-css.js#L4), but I have no idea how to fix to contribute.

[2018-07-02 12:34] jmiazga commented on #274
I noticed that too on the site, but when I was running locally it works fine. Im not sure whats deployed vs whats latest in master.

[2018-07-02 13:50] probablyup commented on #274
Master hasn’t been deployed in a while. I’ll do it today if I have time.
On Mon, Jul 2, 2018 at 7:34 AM Jason Miazga <notifications@github.com>
wrote:

[2018-07-02 14:40] jmiazga commented on #274
@probablyup Do you want to walk me through deploys to potentially offload it in the future?

[2018-07-02 14:41] probablyup commented on #274
It requires certain org permissions at the moment, so not something we can
easily offload.

We are looking into the new Now + GitHub integration though to automate the
whole process.
On Mon, Jul 2, 2018 at 9:40 AM Jason Miazga <notifications@github.com>
wrote:

[2018-07-03 14:52] probablyup commented on #274
Just deployed, should be good now.

[2018-07-03 14:52] #274 closed

[2018-07-03 17:55] overra opened #275 "Add showcase page"
I [hear](https://twitter.com/mxstbr/status/1014169285852323841) @mxstbr would like a showcase page.

I'd like to help out. Do you have any specifics in mind?

[2018-07-04 16:19] mxstbr commented on #275
Awesome @overra! I think this should be a grid of screenshots of websites with their URLs and/or names, what do you think? From [these lists of users I compiled](https://mobile.twitter.com/mxstbr/status/1014405072061652993) I think we should highlight:

- vimeo.com (not sure this is built with s-c entirely, might only be parts? we should figure that out to know what to screenshot)
- target.com
- p

[2018-07-04 17:16] jmiazga commented on #275
Is this a duplicate of #16?

[2018-07-04 17:51] mxstbr commented on #275
Kinda, my thinking is that a showcase is a lot easier since we don't need to get permission for screenshots vs logos. On top of that it's also nicer since you can immediately visually see what's built with styled-components 😅

[2018-07-05 14:06] overra commented on #275
@mxstbr Sure! I'll work on it this weekend :)

[2018-07-10 03:13] probablyup commented on #24
Finally got it working! https://travis-ci.org/styled-components/styled-components-website/jobs/402039609

[2018-07-10 03:13] #24 closed

[2018-07-20 15:34] satya164 commented on #6
FYI snack embeds now use https://github.com/satya164/react-simple-code-editor which reduces the footprint by a huge amount.

[2018-07-20 17:31] syneva-runyan commented on #188
I took a look at this issue some, and there are two parts of the problem:

1) The <Link> being used from next/link has an e.preventDefault() being called on click, which blocks the default scroll behavior

2) When the <Link> is replaced with a normal <a> tag, such as what's used with StyledLink, the scroll happens, but the onRouteChange called when <Section> is clicked updates the  <Folder> compon

[2018-07-22 22:43] jmiazga opened #282 "Anchors don't have unique ids"
There are a few spots on the site where multiple anchors have the same id. One example is here: https://www.styled-components.com/releases#v3.2.0_misc

Within the v3.2.0 release notes there are 3 sections called 'Misc' which have ids of 'v3.2.0_misc'.

This break navigation and also causes accessibility tools to report it as an error.

This issue can also be seen here: https://www.styled-component

[2018-07-23 07:21] morajabi commented on #282
@jmiazga Oh, good catch! Are you willing to open a PR yourself? That'd be great! 😃

[2018-07-23 13:33] jmiazga commented on #282
What do you recommend? Nesting deeper? so https://www.styled-components.com/releases#v3.2.0_refactors_misc

[2018-07-24 22:04] kitten commented on #282
@jmiazga yep, I think the correct behaviour would be to assemble the fully nested ID 🙌

[2018-07-25 01:04] jmiazga commented on #282
I'm not sure if it will be an easy fix. I did a little digging into ```commonmark-react-renderer``` and our ```Heading``` renderer. The only info we have is the level and children. For example, when it goes to render the 'Misc' headers for v3.2.0 the data passed into the Heading renderer looks like:

[code]

There is no other info to tie into except the release version number (which is the current

[2018-07-26 11:37] morajabi commented on #282
I think you can also use https://www.npmjs.com/package/shortid for nested headings too

[2018-07-29 06:57] mxstbr commented on #275
@overra any news?

[2018-07-29 07:32] overra commented on #275
@mxstbr yep, sorry about that!

[2018-07-30 03:56] jacekwilczynski opened #285 "Update information about syntax highlighting in Sublime"
In https://www.styled-components.com/docs/tooling#syntax-highlighting I would suggest adding information about https://github.com/borela/naomi which is an awesome Sublime package that adds syntax highlighting for a lot of modern JS, including styled-components, along with Emmet support.

[2018-07-30 09:56] geelen opened #286 "Typography.com subscription on homepage about to expire"
Hey, we're using a friend's Typography.com subscription for Operator Mono on the homepage which is going to expire soon. We should either bump that across to one of our own (using Open Collective monies if needed) or just switch to Dank Mono.

[2018-07-31 05:45] mxstbr commented on #286
Let's switch to dank @kitten?

[2018-08-06 21:02] kitten opened #287 "Update babel-plugin docs to hint at @babel/preset-typescript"
Instead of setting up a TypeScript + Babel transpilation pipeline it's also possible to set up a pure Babel pipeline, as for other compile-to-JS languages now.

This has the added benefit of working the same as Flow or "vanilla" ESnext transpilation and is much easier to get right.

https://babeljs.io/docs/en/next/babel-preset-typescript.html

Related: https://github.com/styled-components/babel-pl

[2018-08-27 17:56] elnygren commented on #216
@yordis @swissmanu @duro I had some success by adding Themed* versions of interfaces for RN:
https://github.com/styled-components/styled-components/pull/1954

Cheers!

[2018-09-03 21:35] xrei opened #294 "Missing section When should I use styled()?"
https://www.styled-components.com/docs/faqs#when-should-i-use-styled

The link is available in the menu, but doesn't reference anything.

[2018-09-03 21:46] Djelnar commented on #294
If u want to know the reason u can read [this](https://github.com/styled-components/styled-components/issues/1694)

[2018-09-04 22:28] probablyup opened #296 "v4 documentation constructive feedback"

[2018-09-04 23:30] #287 closed

[2018-09-06 13:27] jzimmek opened #303 "Unify import in styling components example - typescript typed theme object"
The section https://www.styled-components.com/docs/api#styling-components is good in explaining how to type the theme object by re-exporting the styled & co functions.

But having to import styled components functions from a different location as in the docs ```import styled from "app/styled-components"``` feels kinda wrong to me.

Typescript supports https://www.typescriptlang.org/docs/handbook/m

[2018-09-06 13:33] #294 closed

[2018-09-06 14:03] mxstbr opened #304 "Don't runtime render markdown on /releases and /ecosystem"
After #300 the only pages doing runtime markdown stuff are `/releases` and `/ecosystem`.

That means everything else loads quicker due to not loading commonmark on almost every page (yay!), but we should figure out a way to not do runtime markdown rendering on `/releases` and `/ecosystem` too.

[2018-09-07 16:12] matthewbryancurtis opened #311 "Incomplete example on the website"
Thanks for styled-components; I've really enjoyed using the project.

While looking through the docs, I've noticed that there's an incomplete example at https://www.styled-components.com/docs/basics#how-do-styled-components-work-within-a-component

The docs compare CSSModules vs Styled Components:

[code]

[code]

Unless I'm missing something, the Styled Component example doesn't actually use the

[2018-09-07 16:31] #311 closed

[2018-09-14 22:15] sag1v opened #318 "FAQs library-authors rollup advice"
Hi, i think it would be nice to advice the authors to use the [rollup-plugin-peer-deps-external](https://www.npmjs.com/package/rollup-plugin-peer-deps-external) instead of (or in addition to) [adding each `peerDependency`  to the `external` option](https://github.com/styled-components/styled-components-website/blob/master/sections/faqs/library-authors.md#with-rollupjs).

What do you think?

[2018-09-16 13:52] kitten commented on #318
I think that's a great idea! It's already captured in this section: https://www.styled-components.com/docs/faqs#with-rollupjs

So a small addition mentioning this library would be perfect 👏

[2018-09-16 13:56] sag1v commented on #318
Yup exactly where i thought it should be added.
Can I take this PR?

[2018-09-16 15:10] #318 closed

[2018-09-16 18:34] davl3232 opened #320 "Example on usage of innerRef is broken"
<img width="1792" alt="screen shot 2018-09-16 at 1 28 59 pm" src="https://user-images.githubusercontent.com/4100566/45599632-9e8b9600-b9b4-11e8-80a3-4e18503f98cd.png">
This example should focus the input on mouse enter, but it doesn't and throws the following error instead:

[code]

Seems like the obtained ref is undefined, hence this way of using innerRef doesn't work. Maybe it's a styled-compone

[2018-09-16 18:35] sag1v commented on #320
what version are you using?

[2018-09-16 18:37] davl3232 commented on #320
Seems I forgot to link the url where it happens.

This comes straight from the website at https://www.styled-components.com/docs/api#innerref-prop.

[2018-09-16 18:46] sag1v commented on #320
Seems like the website is using v4.
As mentioned in the note:

The "innerRef" prop was removed in styled-components v4 in favor of the React 16 forwardRef API. Just use the normal ref prop instead.

And we can confirm this by changing `innerRef` to just `ref` to see it works:
[code]

Not sure when it was changed.

[2018-09-16 19:00] sag1v commented on #320
@kitten @mxstbr  Are we OK with not supporting lower versions then v4 in this example?
If so, i think we should go through all the breaking changes of v4 and make the appropriate changes in the docs.

[2018-09-16 19:32] sag1v commented on #296
See #320 ?

[2018-09-16 22:41] davl3232 commented on #320
styled-components/styled-components#1560

[2018-09-16 22:45] davl3232 commented on #320
styled-components/styled-components#1560

[2018-09-17 05:07] probablyup commented on #320
Yeah we'll just change this example to be non-interactive

[2018-09-17 08:51] #320 closed

[2018-09-24 16:27] probablyup commented on #81
Would a transcript be sufficient here, or is it better to compose a whole new section?

[2018-09-25 06:08] PinkaminaDianePie commented on #81
@probablyup in ideal case it should be a whole new section, just because the text for articles and script for presentations are always a bit different.

@mxstbr ...but the transcript is better than nothing, if you don't have time to prepare this section from the scratch, someone could put transcript at least.

[2018-09-28 11:33] brunorzn opened #329 "manually call sheet.seal() during SSR to avoid memory leaks"
This is linked to https://github.com/styled-components/styled-components/issues/1624#issuecomment-425391640

To avoid memory leaks, we need to manually call sheep.seal during SSR, if any error has been thrown during rendering.

Here is an example :
[code]

[2018-09-28 14:58] probablyup commented on #329
We can probably do this in core and just rethrow the error instead of having people do this themself. What do you think @mxstbr?

[2018-09-28 15:37] mxstbr commented on #329
Oh yeah not a bad idea!

[2018-09-29 04:39] yiochen opened #330 "Syntax notes shows same snippets for right and wrong usages"
on https://www.styled-components.com/docs/tooling#template-literal-style-and-indentation
The right and wrong usages looks the same
![image](https://user-images.githubusercontent.com/5957726/46241098-d0aed780-c366-11e8-99e4-8c23b3268c82.png)

[2018-09-29 09:16] mxstbr commented on #330
Haha damn, I think prettier auto-formatted all of these to the correct syntax! /cc @chinesedfan

[2018-09-29 10:06] chinesedfan commented on #330
@mxstbr Right. It was caused by https://github.com/styled-components/styled-components-website/commit/d37500db0a9173b977f31ccdb0366825317522b8.

[2018-09-29 15:17] kitten commented on #329
@probablyup @mxstbr I actually think we don't need to clone on develop with SSR anymore as all global styling is now gone if I'm not mistaken 🤔

That'd get rid of the issue more elegantly 😍

[2018-09-29 16:29] chinesedfan opened #334 "Many format changes caused by migrating from js to md"
By investigating #330, I noticed that https://github.com/styled-components/styled-components-website/commit/9dc8f544ebd4ed5082ae24fdb0cab129177f9dcb changed a lot of sample code formats.

For example, https://www.styled-components.com/docs/tooling#setup, JSON looks like not very well.

<img width="564" alt="2018-09-30 12 27 34" src="https://user-images.githubusercontent.com/1736154/46248122-bef131

[2018-09-29 16:33] mxstbr commented on #334
Argh I forgot to check that page, my bad!

[2018-10-01 19:15] alaskaa commented on #260
Do you still need some help with this issue? :) or has it been worked on as part of issue #261 ?

[2018-10-01 19:28] alaskaa commented on #209
Has anyone claimed this or could I work on this? Despite being interested in why this is good practice and why it should be followed, I think it would be great to make this even clearer in the docs and help people early on to write meaningful styled components.

[2018-10-02 13:29] mxstbr commented on #209
@alaskaa nobody's tackling this right now, we'd appreciate a PR!

[2018-10-03 04:49] #271 closed

[2018-10-03 04:50] imbhargav5 commented on #85
Fixed as of #310

[2018-10-03 04:50] #85 closed

[2018-10-03 04:52] imbhargav5 commented on #129
@mxstbr Closing this as this seems to have been fixed.

[2018-10-03 04:52] #129 closed

[2018-10-03 04:53] imbhargav5 commented on #3
How do we go about this? Are we planning to do this now?

[2018-10-03 04:55] probablyup commented on #3
Hmm well there is the PR to make a monorepo...

[2018-10-03 07:09] mxstbr commented on #3
Yeah—we should still do this once we have the monorepo so that updating the docs can happen at the same time as changing the code.

[2018-10-03 08:16] alaskaa commented on #209
Awesome! I'll start working on this then.

[2018-10-03 11:04] mxstbr commented on #209
Ace!

[2018-10-04 03:28] chinesedfan commented on #334
I want to clarify a little more. Not only JSON format are broken, but also code snippets. For example,

![image](https://user-images.githubusercontent.com/1736154/46451280-fead7500-c7c7-11e8-9a7c-5c0b927ccb95.png)

![image](https://user-images.githubusercontent.com/1736154/46451356-724f8200-c7c8-11e8-99f5-f43a1be55521.png)

[2018-10-04 11:11] TommyAlmeida commented on #334
I didn't even notice, i'll fix it today

[2018-10-06 06:52] imbhargav5 commented on #304
Any pointers on how we can go about it?

[2018-10-06 11:07] mxstbr commented on #304
No idea haha

[2018-10-06 13:58] mxstbr opened #343 "Make deprecated/old APIs obvious in search results"
Right now when I search for "global styles" I have no idea what to click on:

<img width="521" alt="screenshot 2018-10-06 at 15 56 57" src="https://user-images.githubusercontent.com/7525670/46572163-7b378380-c981-11e8-925f-d9e2468eb778.png">

We should somehow "mark" old APIs in the search results so you can still find them if they're used in a legacy codebase and you want to know what they are, b

[2018-10-06 18:54] probablyup commented on #343
They’re under previous APIs
On Sat, Oct 6, 2018 at 8:58 AM Max Stoiber <notifications@github.com> wrote:

[2018-10-07 22:51] #334 closed

[2018-10-09 10:18] imbhargav5 commented on #343
I tried to style deprecated apis differently, but I couldn't find a way to get Algolia to somehow send us a boolean. I think one option is to just mark them in a json and then compare against it. I can do that. Any other ideas?

[2018-10-11 04:34] imbhargav5 commented on #343
I added a _[Deprecated]_ prefix to the titles in the `old` section. Once they are indexed by algolia, it should be obvious to people who are searching them. What do you think?

[2018-10-17 13:51] TommyAlmeida commented on #343
@imbhargav5 Are you fixing this issue?

[2018-10-17 22:38] stevemao commented on #343
https://github.com/styled-components/styled-components-website/pull/356

@imbhargav5 if you write fix [issue number] your pr will link to the issue. Thanks!

[2018-10-22 05:24] gshilin opened #367 "Unable to use website due to CORS problem"
It happens on homepage and on docs too:
![image](https://user-images.githubusercontent.com/354111/47278706-b1a50d80-d5d3-11e8-982f-e62830967a33.png)

[2018-10-23 14:17] joaopedrovc commented on #330
I will fix it.

[2018-10-23 14:35] chinesedfan commented on #330
@joaopedrovc Sorry, #333 has tired to fix.

[2018-10-23 20:41] asafigan opened #369 "Unmentioned breaking change from v3 to v4: withComponent"
I had a sneaky bug when upgrading. I redid my code to use `style(X)` instead of `X.extend`. I thought all was well until I found some edge cases with `withComponent`. Basically `withComponent` replaces the styled component rather than that component's child. So `as` and `withComponent` have different behavior.

I am assuming that this is `withComponent`'s original behavior. I believe that this sho

[2018-10-25 16:05] xehpuk opened #371 "Missing example for withComponent"
In the documentation of `withComponent`, it reads:

But there's not a single mention of it. I know it's getting replaced in favor of `as`, but it should still be documented.

[2018-10-25 16:09] probablyup commented on #371
Send a PR

On Thu, Oct 25, 2018, 11:06 AM xehpuk <notifications@github.com> wrote:

[2018-10-25 22:32] nickmccurdy opened #373 "TypeScript code examples are out of date for v4"
https://www.styled-components.com/docs/api#typescript

For example, it has `injectGlobal` which has been removed.

[2018-10-25 23:50] nickmccurdy commented on #373
Is that the only change that needs to be made? This is my current `styled-components.ts` and it appears to work for me, but I'm not convinced it's correct.
[code]

[2018-10-26 08:07] nickmccurdy commented on #373
https://github.com/styled-components/styled-components-website/pull/374

[2018-10-26 18:21] probablyup commented on #369
Want to send a PR adding a bullet to the migration guide and recommending use of “as” instead?

[2018-10-26 18:22] #296 closed

[2018-10-27 07:57] adrianhelvik opened #375 "Unterminated comment in css freezes site"
## Environment
Chrome 70, on an iMac on styled-components.com.

## Reproduction
Change the style for the Button component like this:

[code]

## Steps to reproduce
1. Copy/paste the code above into the editor on the website
2. Try to do anything

## Expected Behavior
It should treat the rest of the styling as a comment.

## Actual Behavior
The browser becomes unresponsive and must be force exited.

[2018-11-08 00:16] arjustini commented on #375
i also had another issue when pasting code into the editor on the website

[Untitled document.pdf](https://github.com/styled-components/styled-components-website/files/2559795/Untitled.document.pdf)

[2018-11-08 00:19] arjustini commented on #375
i also had another issue when pasting code into the editor on the website
![issue](https://user-images.githubusercontent.com/22434178/48169645-acc1a880-e2b9-11e8-965f-e6022c5817a7.png)

[2018-11-11 19:50] probablyup opened #385 "Add documentation about object styles and edge cases"
From https://github.com/styled-components/styled-components/issues/2197

Similar to how `webpack.DefinePlugin` works, we put the given property in verbatim. In the case of a property like `content`, it actually needs the string quotes preserved so they need to be added manually.

[code]

[2018-11-12 06:58] imbhargav5 commented on #343
This is fixed isn't it?

[2018-11-12 06:58] probablyup commented on #343
Yup! Thanks for doing that :)

[2018-11-12 06:58] #343 closed

[2018-11-12 07:01] imbhargav5 commented on #286
This is finished as well. #377

[2018-11-12 07:01] #286 closed

[2018-11-12 07:02] imbhargav5 commented on #140
Upgraded to Next@7 and React@16

[2018-11-12 07:02] #140 closed

[2018-11-12 07:05] imbhargav5 commented on #90
This has been fixed by @mxstbr . We now use `.md|.mdx`files.

[2018-11-12 07:05] #90 closed

[2018-11-12 07:33] mxstbr commented on #385
We should add a section on object styles and that it works in general, we don't have one!

It should highlight the basic use case, pseudo-selectors and media queries, and adapting based on props which looks like this:

[code]

[2018-11-12 07:33] mxstbr commented on #385
Accidentally closed, sorry.

[2018-11-18 23:42] OzairP opened #387 "No warnings or up to date docs on ThemedStyledFunction#attrs object with functions deprecation"
`ThemedStyledFunction#attrs` now deprecates passing in objects that have values to resolve prop values. This was published in v4.1.1 *a week ago* with no warning on the site about the deprecation.

# Section API `StyledComponents#attrs`
https://www.styled-components.com/docs/api#attrs

Table may be misleading and maybe should be removed.
Paragraph should be changed to

and the code should be chang

[2018-11-19 00:37] probablyup commented on #387
There’s an open PR, just hasn’t been merged yet.
On Sun, Nov 18, 2018 at 5:42 PM Ozair Patel <notifications@github.com>
wrote:

[2018-11-19 23:04] wmertens commented on #329
🤔 	 Hmm, what version is this? S-C 4.1.1 doesn't have `.complete` on `sheet`…

BTW, @brunorzn 	do you also use Colemak? Sheep instead of sheet :)

[2018-11-19 23:51] probablyup commented on #329
Ah yeah it's called `sealed` now: https://github.com/styled-components/styled-components/blob/master/src/models/ServerStyleSheet.js#L18

[2018-11-24 10:07] JeroenReumkens opened #392 "TS examples need an update after 4.1"
Hi There!

It looks like the Typescript typings are broken since the upgrade to 4.1. There is an issue over at the @types repo, but I just wanted to make an issue here as well because I have the feeling that it otherwise would be overlooked.

Please feel free to close this issue if you don't think there should be an issue here.

The issue I'm referring to is:
https://github.com/DefinitelyTyped/Def

[2018-11-25 11:52] wmertens commented on #329
I updated the example and subject. @kitten	not cloning at all would be better of course - afaik there is no way to add global styles any more

[2018-11-29 20:38] ralexand56 commented on #392
Is there any way to use the css prop with typescript now?

[2018-12-02 18:04] #371 closed

[2018-12-02 23:41] rfbotto commented on #254
Hi @probablyup, i was about to tackle this issue, but just noticed that this information was already added to the [docs](https://www.styled-components.com/docs/api#test-utilities) in https://github.com/styled-components/styled-components-website/commit/f1fa8716b7b8b4e5bbde04dc01dd23570ca3bd28.

Should this issue be closed, or did you have something else in mind?

[2018-12-02 23:51] rfbotto opened #395 "Code editor scroll bar bug on chrome 70"
Hi guys,

Stumbled upon this weird bug while scrolling through the documentation, where the scrollbar seems to be outside of it's container.

![kapture 2018-12-03 at 0 48 09](https://user-images.githubusercontent.com/3718438/49346617-5ca9ec00-f695-11e8-873b-7c9003d3876e.gif)

The problem occurs while scrolling inside of any code editor.

Tested on a Mac Os, Chrome Version 70.0.3538.110 (Official B

[2018-12-03 07:55] #75 closed

[2018-12-03 08:52] #254 closed

[2018-12-03 18:06] #395 closed

[2018-12-11 08:49] mxstbr opened #398 "Add more logos to homepage"
We should add more logos to the homepage of some of the big companies using styled-components!

- Auth0: https://github.com/auth0/cosmos
- BBC: https://github.com/bbc-News/psammead
- Casper: #284
- Moleskine: #284
- AirBnB: #284
- Tinder: #284
- Lego: #275
- Ticketmaster: #275
- Typeform: #275
- Vogue: #275
- Invision: #275

[2018-12-11 13:14] GiuMagnani commented on #398
Working on it :+1:

[2018-12-12 08:31] mxstbr commented on #398
That's a great first start, where's the PR?!

[2018-12-12 10:15] mxstbr opened #400 "Add auto-scroller to logos on home"
I really like the auto-scrolling list of logos https://nextjs.org/#features has on the homepage, it'd be great to make our logos work that way too!

[2018-12-12 10:15] mxstbr commented on #398
Done, thank you so much @GiuMagnani!

[2018-12-12 10:15] #398 closed

[2018-12-12 10:42] GiuMagnani commented on #400
I'd love to help with this!

[2018-12-12 11:01] mxstbr commented on #400
Yes please!

[2018-12-12 13:13] manpenaloza commented on #367
Just wanted to report this issue as it still seems exist.

<img width="1439" alt="sc-analytics-fetch-issue" src="https://user-images.githubusercontent.com/4241744/49871629-0c5e2700-fe17-11e8-9136-6b1b397d5d52.png">

Maybe that's not even be a CORS issue? Tried some ways to ping this https://sc-micro-analytics.now.sh/ analytics microservice but haven't succeeded.

So whatever this microservice trac

[2018-12-12 13:51] manpenaloza commented on #367
ok, I'll go for it.

[2018-12-12 13:54] mxstbr commented on #367
Perfect, thank you! :pray:

[2018-12-12 15:42] mxstbr commented on #367
Fixed by the amazing @manpenaloza in #401!

[2018-12-12 15:42] #367 closed

[2018-12-13 13:43] Ky6uk commented on #392
So how to use theming with latest updates?

[2018-12-13 18:16] Ky6uk commented on #392
Alright I found some kind of the solution here. We can just use [declaration merging](https://www.typescriptlang.org/docs/handbook/declaration-merging.html) and `@types/styled-components` v4.1.4 and up.

1. Create declaration file (I name it `styled.d.ts`)

[code]

2. Create a theme

[code]

3. Just use original module as is

[code]

[2018-12-13 18:20] Ky6uk commented on #392
@probablyup can we update documentation about it in case this is the right solution? I'm not good in writing docs.

[2018-12-18 08:37] Ky6uk commented on #392
@Voronar latest typings allow us to not use re-export at all. So this is much more convenient way to import just original module along the codebase.

[2018-12-18 10:05] imbhargav5 commented on #400
Closed with #402

[2018-12-18 10:05] #400 closed

[2018-12-18 21:05] mxstbr opened #405 "Add the XING logo to the homepage"
https://mobile.twitter.com/RobinDrexler/status/1075092722485215233

[2018-12-19 18:34] rovansteen commented on #392
@Ky6uk thanks for that solution, had been struggling with this for hours but that's a really elegant way to solve it. 👍

[2018-12-19 22:37] chasemccoy commented on #209
I am honestly quite shocked that I haven't ran into any issues with this before now 😳

[2018-12-20 01:01] stevemao commented on #209
@chasemccoy PR welcome 👍

[2018-12-20 06:21] alaskaa commented on #209
@chasemccoy feel free to take this over! I started working on this but then life started getting busy and I forgot. Think we'd all benefit from your explanations and a PR. I know I encountered this a couple of times too, but struggled how to explain it best!

[2018-12-20 11:19] mxstbr opened #406 "Add the MagicLeap logo to the homepage"
https://mobile.twitter.com/mxstbr/status/943518837709987840

[2018-12-20 13:46] EdwardGoomba commented on #406
Hey Max, I could drop that in?

[2018-12-20 13:46] EdwardGoomba commented on #405
Along with this one.

[2018-12-20 15:30] mxstbr commented on #405
Yes please!

[2018-12-20 15:30] mxstbr commented on #406
Yes please!

[2018-12-20 16:09] bradgarropy opened #407 "📖🎨👶🏼 ThemeProvider single child documentation"
While creating my first theme, I [learned][1] that `<ThemeProvider>` must return a single child.

It is specifically enforced in the [code][2].

[code]

@mxstbr enlighted me as to why with his [comment][3], but the documentation doesn't mention this requirement. He encouraged me to submit a PR on [spectrum][4], so here is the issue to track the change!

[1]: https://twitter.com/bradgarropy/status/

[2018-12-26 14:13] #405 closed

[2018-12-26 18:40] mxstbr commented on #406
Done

[2018-12-26 18:40] #406 closed

[2018-12-26 18:40] mxstbr opened #409 "Add DoorDash logo to homepage"
https://mobile.twitter.com/ryngonzalez/status/941496463602860038

[2018-12-28 11:05] #409 closed

[2018-12-28 11:05] #407 closed

[2019-01-01 05:09] bradennapier opened #412 "[REQUEST]: Documentation on Performance"
So I am working on a very dynamically styled component which has lots of updates.  Thankfully there is a warning indicating that the standard way is not good for highly dynamic content - but there isn't much documentation on the specifics.

After I figured it out, it made a lot of sense but I started by doing things wrong and was confused until I really thought it out.

I've now ended up with:

[c

[2019-01-06 00:57] justintemps commented on #187
Just to update @morajabi's answer , according to the [docs](https://www.styled-components.com/docs/faqs#how-can-i-override-styles-with-higher-specificity) you need three &s.

So this would be the correct syntax:

[code]

[2019-01-07 08:08] mxstbr commented on #187
You can use as many `&` as you want, the more you use the higher the specificity will be!

[2019-01-10 18:53] bsunderhus commented on #216
Is this still an unsolved thing? I'm trying to use `styled-components/native` but there's no typings for it

[2019-01-10 19:10] probablyup commented on #216
Make a request on definitelytyped!
On Thu, Jan 10, 2019 at 12:53 PM Bernardo Sunderhus <
notifications@github.com> wrote:

[2019-01-11 19:46] #373 closed

[2019-01-13 00:59] #117 closed

[2019-01-13 07:17] stevemao commented on #117
@oomathias Why is it closed? Is there a PR open?

[2019-01-13 14:45] oomathias commented on #117
I can reopen it if needed. I was cleaning my issues and checked https://www.styled-components.com which now displays the correct color syntax, so I'm guessing someone fixed it.

![screenshot](https://user-images.githubusercontent.com/465790/51086704-2b1f4880-174a-11e9-84a2-4f99993cfd52.png)

[2019-01-14 08:59] ViggoV opened #415 "Update "Tooling" page for Sublime Text"
I noticed that the Tooling page of the documentation is pretty outdated regarding Sublime Text. The Pull Request the docs refer to was merged and closed long ago, but it was never released and the discussions I've read on that and other issues seem to indicate that it may never be. It can, however, be installed from the Github source which may be relevant to mention.

Also, I've just come across [

[2019-01-14 09:46] mxstbr commented on #415
Would appreciate a PR updating it!

[2019-01-14 12:53] ViggoV commented on #415
Done! Thanks for the quick reply 👍

[2019-01-14 19:49] #415 closed

[2019-01-21 05:06] minipai opened #418 "Doc about .attr not consistent"
In main doc's example
![screen shot 2019-01-21 at 4 04 14 pm](https://user-images.githubusercontent.com/239570/51453955-6c40d980-1d96-11e9-8451-5680c57283e2.png)

In upgrade guide
![screen shot 2019-01-21 at 4 03 18 pm](https://user-images.githubusercontent.com/239570/51453973-82e73080-1d96-11e9-95ec-0469519f58f4.png)

I am confused.

[2019-01-21 08:09] mxstbr commented on #418
We need to update the main doc to use the new syntax! PR welcome

[2019-01-24 11:10] #418 closed

[2019-01-31 07:51] mxstbr opened #422 "Add Vimeo logo to homepage"
https://mobile.twitter.com/mxstbr/status/1090542008530358274

[2019-01-31 07:51] mxstbr opened #423 "Add shpock logo to homepage"
https://mobile.twitter.com/thisisvladan/status/1090690289365385216

[2019-01-31 15:24] probablyup opened #424 "Add Sesame logo to the homepage"
My company :) https://sesamecare.com/

[2019-02-01 11:03] sarneeh commented on #56
@lifeiscontent @AshCoolman

I came into the same confusion after trying out `.attrs()` but after messing around with it for a while it's pretty clear what is its purpose and how does it work.

Consider this example:

[code]

So what happens here is (step by step):
1. `Div` has been used with `color` prop with value `blue`
2. `Div` has a default prop `color` with value `green`, but it is overridden

[2019-02-01 11:35] mxstbr commented on #56
This is correct @sarneeh. I'd love for you to rewrite that doc a bit explaining this more clearly! :pray: Want to submit a PR?

[2019-02-02 12:03] #424 closed

[2019-02-05 08:33] GiuMagnani commented on #423
I'd like to take this one and #422!

[2019-02-05 09:55] mxstbr commented on #423
Do it @GiuMagnani!

[2019-02-05 10:00] GiuMagnani commented on #423
Done, the PR is #426. Thanks!

[2019-02-05 10:09] #423 closed

[2019-02-05 10:09] #422 closed

[2019-02-07 12:39] aczekajski commented on #56
While indeed the props from `attrs` take precedence before props passed to the component when we look at them in interpolation, things go weird and inconsistent when you look at html or do `styled(...)`.

I've decided to create a separate issue describing my concerns: https://github.com/styled-components/styled-components/issues/2372

[2019-02-08 15:15] sarneeh commented on #56
@mxstbr I'm sorry but I can't handle this right now as I'm completely out of time :cry:

[2019-02-11 18:25] nhuesmann commented on #216
@bsunderhus There's an open PR for adding typings for `styled-components/native` here: https://github.com/DefinitelyTyped/DefinitelyTyped/issues/29795#issuecomment-461179361

[2019-02-14 20:53] therealparmesh commented on #392
@Ky6uk Thank you! This worked like a charm.

[2019-02-15 15:21] Sakarisson opened #428 "Attrs documentation providing deprecated information"
The main documentation for the `.attrs` chainable method (https://www.styled-components.com/docs/api#attrs) does not provide any information about receiving a function that returns new attrs (`props => newAttrs`). Instead it only explains how to use functions as object-form attrs (`({ someAttr: props => props.someValue })`), which is deprecated.

It would be nice if the documentation would be upda

[2019-02-15 15:23] probablyup commented on #428
Want to branch off my PR and finish it out? https://github.com/styled-components/styled-components-website/pull/386

Ran out of time, but it's what you're looking for.

[2019-02-15 15:30] Sakarisson commented on #428
@probablyup I can make an attempt to fill out some information about the new `attrs` API. However, I would not be qualified to take ownership of the other aspect of your PR.

[2019-02-18 10:45] AgaAgnieszkaBorcz commented on #406
@mxstbr Please could you let me know if your logo can be used commercially? for example stickers?

We would love to be able to include your logo as part of our inventory but aren’t sure of the restrictions regarding its use for commercial purposes, so we would like to find out what your policy is regarding this and if this would be a possibility?

We do not plan to modify or alter the logo in any

[2019-02-21 17:06] sarneeh opened #430 ".attrs documentation example does not work"
Just wanted to point out that the [.attrs documentation example](https://www.styled-components.com/docs/basics#attaching-additional-props) does not work. I don't know if it's a problem with the live-preview or something else.

## Steps to reproduce

1. Go to https://www.styled-components.com/docs/basics#attaching-additional-props
2. Inspect one of the inputs
3. None of the inputs have the props de

[2019-02-24 06:35] kevin51jiang opened #432 "Lowercase "i" in FAQ Documentation"
https://www.styled-components.com/docs/faqs#why-should-i-avoid-to-declare-styled-components-in-the-render-method

Instead of `Why should i avoid to declare styled components in the render method?` it should be `Why should I avoid to declare styled components in the render method?`

[2019-02-24 09:18] #432 closed

[2019-02-27 17:25] bwillem commented on #392
I can't seem to get vscode to autocomplete / intellisense my theme properties - anyone able to?

[2019-03-04 10:47] codepunkt opened #449 "`Define a theme interface` documentation doesn't work with macro import"
## Environment
#### System
 - OS: Windows 10 - CPU: (8) x64 Intel(R) Core(TM) i7-6820HQ CPU @ 2.70GHz
 - Memory: 940.17 MB / 15.64 GB
#### Binaries:
 - Node: 10.15.1 - C:\Program Files\nodejs\node.EXE
 - Yarn: 1.13.0 - ~\AppData\Roaming\npm\yarn.CMD
 - npm: 6.7.0 - C:\Program Files\nodejs\npm.CMD

## Steps to reproduce
- Create `theme.ts` and `styled-components.ts` as described [in the documentati

[2019-03-08 22:48] cloutiertyler commented on #392
@Ky6uk I'm not able to get your solution to work with `createGlobalStyles`. I'm getting

[code]

only when using the theme inside of `createGlobalStyles`.

[2019-03-08 23:02] Ky6uk commented on #392
@cloutiertyler can you provide a code example?

[2019-03-11 21:28] cloutiertyler commented on #392
@Ky6uk The issue was that I was using `ts-node` which apparently was unable to pick up the types (but oddly only in some contexts). I switched to `tsc` and had no issues.

[2019-03-13 07:17] fabb commented on #392
I modified @Ky6uk's solution and DRYed it by using `typeof`:
[code]

[code]

[2019-03-13 14:40] mxstbr opened #439 "Sort logos on homepage by website popularity"
Rather than alphabetically, we should sort the company logos on the homepage by approximate website popularity according to www.similarweb.com (global rank).

[2019-03-14 08:04] manpenaloza commented on #439
makes sense!

note: to avoid manual searching/sorting, just saw similarweb.com offers an api to get the data we'd need https://www.similarweb.com/corp/developer/ for sorting properly. it also offers a free api but that one has limitatations.
- 5 Results Per Metric
- 1 Month of Mobile App Data
- 3 Months of Web Traffic Data
haven't found any info on whether they provide some more extended free api

[2019-03-14 09:32] mxstbr commented on #439
Sounds great if you want to dig into that! :+1:

[2019-03-14 09:51] manpenaloza commented on #439
ok, I've sent a request to similarweb. let's if that's an option to at least automate sorting.

[2019-03-14 10:37] Sshetty2 opened #440 "styled-components examples for React Native in expo snack are not working"
**Broken Demos:**

https://snack.expo.io/Sk8O7_9og

https://snack.expo.io/@danielmschmidt/styled-components

when attempting to 'run' the code either in the emulator or on my device, an error message is given:

**Device: (78:20) undefined is not an object (evaluating '_native2.default.View')
  Evaluating module://App.js
  Loading module://App.js**

![snack error](https://user-images.githubusercont

[2019-03-18 02:20] #439 closed

[2019-03-18 02:21] probablyup commented on #430
I see this too - weirdly it works fine if you run the site locally in dev mode.

[2019-03-19 13:02] oomathias commented on #56
I'm regrouping some info from [2258](https://github.com/styled-components/styled-components/pull/2258#issuecomment-444950078).  I still see a lot of confusion around `attrs` in the issues.

Here is what happens under the hood since `4.1.2`
![image](https://user-images.githubusercontent.com/465790/54606711-e0bd8f00-4a4c-11e9-86b3-deee7900e5ab.png)

[2019-03-24 05:15] SethGunnells commented on #392
I'm finding that, using the suggested declaration merging method, props are being reported as type `any`within my styled components. Any clues as to why this might be? (My apologies if this is not the appropriate place to discuss.)

I've included a very simply example.

![image](https://user-images.githubusercontent.com/245822/54875258-94b27780-4dc9-11e9-8e6a-dbf32fb9cec5.png)
![image](https://use

[2019-03-26 01:43] chris35469 commented on #440
Seeing this error as well.

[2019-04-01 05:54] horyd commented on #430
Noticed this today too. The docs at https://www.styled-components.com/docs/api#attrs seem to indicate that only an object can be passed in as an arg to attrs, and it must have values that are either static or a function which accepts props

[2019-04-01 23:10] satya164 commented on #440
For now `import styled from 'style-components'` without the `/native` seems to work. I'll try to fix the issue with `/native`.

[2019-04-02 11:46] chris35469 commented on #440
Thanks @satya164 `import styled from 'styled-components` worked.

https://snack.expo.io/@chris35469/c3R5bG

[2019-04-03 02:05] viridia opened #448 "Same style, different interface"
This is a request to resolve an ambiguity when using the "as" attribute; it may just be a matter of adding a clarification to the docs, or it may be an actual feature request, depending on the answer I get.

The issue is that I sometimes want to re-use a complex style definition between two components that have dramatically different property interfaces. An example of this is Button and LinkButton

[2019-04-13 15:37] mulholio opened #447 "Better TypeScript setup for themes"
I would like to suggest an improved TypeScript theming setup.

Currently, [the docs](https://www.styled-components.com/docs/api#create-a-declarations-file) suggest duplicating your theme: creating one in `theme.ts` with the values and another in a `styled.d.ts` declarations file. This has current setup has two limitations.

1) It isn't DRY - duplication over these two seperate files is annoying to

[2019-05-14 01:53] realfresh commented on #392
I'm finding I can use styled components `4.2.0` and typescript `3.3.4000` without issues when exporting `ThemedStyledComponentsModule`.

It doesn't seem to work following the documentation and exporting `DefaultTheme`. By doesn't work, props is behaving as any with no typing.

[2019-05-21 19:52] andy-hook commented on #447
Just wanted to say thanks for writing this up, it was immediately useful and does exactly what I need!

[2019-05-22 15:02] dulcetti opened #454 "Suggestion about Media Templates Docs"
Hi guys.

I have a suggestion to contribute on Media Templates section of documentation. How to contribute? I can create a PR with my suggestion?

Regards

[2019-05-29 10:25] probablyup opened #456 "createGlobalStyle needs "web-only" tag on its API heading"

[2019-05-29 14:07] #456 closed

[2019-05-29 22:59] TheoMer opened #458 "Strict csp: How to add nonce to next.js/styled components?"
So, I'm attempting to add strict csp to my next.js/styled component project and would appreciate some help on adding nonce attribute to the style tags.

In my `server.js` I do tye following:

[code]

And in my `_document.js` I do the following:

[code]

How do I add the nonce attribute/value to the style tags?

[2019-06-03 19:26] #458 closed

[2019-06-03 19:36] TheoMer opened #459 "Refused to apply inline style because it violates the following Content Security Policy directive: "style-src 'nonce"
# Bug report

## Describe the bug
I continually get a nonce violation error, which for the life of me I cannot figure out why. On initial sever start both the nonce values in the `<Style />` tags and `style-src` are the same, but still the violation is issued. If I specify the `nonce` within the script-src attribute of csp, then no warnings are issued. What am I overlooking?

## To Reproduce

Step

[2019-06-03 21:32] cbravo opened #460 "Website Example Code Broken"
## Steps to reproduce
visit https://www.styled-components.com/docs/basics#attaching-additional-props
## Expected Behavior
the two inputs should be different sizes based on what is written there.
## Actual Behavior
the two inputs are the exact same size and changing values has no effect.

[2019-06-03 23:38] TheoMer commented on #459
@mxstbr Any chance you could shed any light on this issue? I'm sure I'm overlooking something very obvious.

[2019-06-04 17:09] adzshaf commented on #460
Hi, can I work on this issue? @mxstbr

[2019-06-04 17:15] probablyup commented on #460
Go for it

[2019-06-04 22:39] #459 closed

[2019-06-04 22:40] TheoMer commented on #459
Just realised that I placed this question in the wrong place.

[2019-06-05 14:26] cbravo commented on #460
There is something really wholesome about this whole thread 😄

[2019-06-08 17:38] kelsonpw commented on #460
This issue is fixed in my PR.  Just waiting to get it merged.

[2019-06-11 03:07] #460 closed

[2019-06-11 05:18] #56 closed

[2019-06-11 05:18] #428 closed

[2019-06-11 05:18] #430 closed

[2019-06-15 20:15] probablyup commented on #454
Yeah PRs are always welcome

[2019-06-15 20:16] probablyup commented on #449
Anything we need to do or can I close this?

[2019-07-15 02:41] mxstbr opened #471 "Add the Under Armour logo to the homepage"
https://mobile.twitter.com/nickhudkins/status/1138231144787468289

[2019-07-15 02:41] mxstbr opened #472 "Add the Autodesk logo to the homepage"
https://mobile.twitter.com/amyvbenson/status/1146391033053351937

[2019-07-27 21:55] nlitwin opened #475 "Potentially inaccurate docs"
Hello,

I was only able to get vendor prefixes to go away after reading about the `disableVendorPrefixes` option in [this pull request](https://github.com/styled-components/styled-components/pull/2640) and by adding this line:
[code]

However [the docs](https://github.com/styled-components/styled-components-website/blob/master/sections/api/helpers/style-sheet-manager.md) say to use:

[code]

Are t

[2019-07-30 03:20] probablyup commented on #475
Yes they're out of date :) we decided to change the implementation slightly due to feedback from the stylis author. If you wouldn't mind sending a PR to update it that'd be awesome!

[2019-08-12 10:50] imbhargav5 commented on #472
Closed with #473

[2019-08-12 10:50] #472 closed

[2019-08-13 13:45] sa-eneidhart opened #477 "Fix example for `.attrs()` in v4 upgrade"
In the [v4 upgrade docs](https://www.styled-components.com/docs/faqs#what-do-i-need-to-do-to-migrate-to-v4) under item 7, the listed example does not seem to match up with the text describing the suggested change. In fact, the only difference between the "bad" example and the "good" example seems to be that the bad example does not destructure the props argument, while the good example does. I am

[2019-08-14 13:34] eyerean commented on #447
How do we fix/hide that eslint error though?

[2019-08-14 14:39] mulholio commented on #447
I've decided I don't mind extending interfaces and having an empty now. Sometimes you want an interface and not a type

[2019-09-04 12:04] martingronlund opened #484 "`css=` prop documentation on babel plugin page"
Hi!

The css prop is documented on the API reference page (https://www.styled-components.com/docs/api#css-prop) with a note containing a statement that you need the babel plugin and a link to the babel plugin page;

I'd expect to see the babel plugin page https://www.styled-components.com/docs/tooling#babel-plugin mention the css prop capability though

When developing my app I didn't read the who

[2019-09-24 07:05] mxstbr opened #485 "Add change.org logo to homepage"
They use s-c for their main website: https://twitter.com/ashc0des/status/1176356899941277696

[2019-09-24 07:10] mxstbr opened #486 "Add genius.com logo to homepage"
They use s-c for their main website apparently! https://genius.com/

[2019-09-24 07:12] mxstbr opened #487 "Add eurostar logo to homepage"
Their website is fully built with s-c: https://www.eurostar.com/fr-fr

[2019-09-24 07:15] mxstbr opened #488 "Add Eddie Bauer logo to homepage"
Fully built with s-c: https://www.eddiebauer.com/

[2019-09-24 07:17] mxstbr opened #489 "Add Trulia logo to homepage"
Fully built with s-c: https://www.trulia.com/

[2019-09-24 07:18] mxstbr opened #490 "Add CultureTrip logo to homepage"
Fully built with s-c: https://theculturetrip.com/

[2019-09-24 07:20] mxstbr opened #491 "Add Birchbox logo to homepage"
Fully built with s-c: https://www.birchbox.com/

[2019-09-24 07:30] mxstbr opened #492 "Add GitHub logo to homepage"
Not sure why that isn't already there... https://github.com/primer/components

[2019-09-24 07:41] HERBOD7 commented on #491
@mxstbr I can do it.

[2019-09-24 07:42] HERBOD7 commented on #471
@mxstbr I can do it.

[2019-09-24 07:47] mxstbr opened #493 "Add Google logo to homepage"
A lil' cheeky but they used it for a project: https://localopportunity.withgoogle.com/ https://mobile.twitter.com/TomHoad/status/1176399894174740480

[2019-09-24 08:20] mxstbr commented on #471
It's already done, sorry I forgot to close this!

[2019-09-24 08:20] #471 closed

[2019-09-24 08:20] mxstbr commented on #491
Yes please!

[2019-09-24 10:10] joebentaylor1995 commented on #187
Compile error when using more than two `&`s

[2019-09-24 10:20] justintemps commented on #187
@joebentaylor1995 can you share an example of a styled component that's failing to compile?

[2019-09-25 06:00] mxstbr opened #494 "Add Revolut logo to homepage"
Revolut.com is using s-c, see https://mobile.twitter.com/RIP212/status/1176458503709503488

[2019-09-25 06:00] mxstbr opened #495 "Add Seatgeek logo to homepage"
https://mobile.twitter.com/Jippi/status/1176486704569552896

[2019-09-25 16:18] justinjunodev commented on #493
@mxstbr could you assign this to me? I'd love to help and have been a long time user of SC. 💅💅💅

[2019-09-25 16:19] andrescalco commented on #495
@mxstbr May I got this one?

[2019-09-25 16:21] gabrielaraujof commented on #494
@mxstbr May I try this one?

[2019-09-25 16:50] mxstbr commented on #494
Yes please! :fire:

[2019-09-25 16:50] mxstbr commented on #495
Yes please!! :100:

[2019-09-25 16:50] mxstbr commented on #493
Sounds great, go ahead @justinjunodev! 👍

[2019-09-25 16:55] andrescalco commented on #495
Awesome!

[2019-09-25 18:07] justinjunodev commented on #493
PR has been created. Let me know if there are any issues. If you'd like me to tackle any others, don't hesitate to assign them to me. I know there are several. Thanks for the opportunity. 👍

[2019-09-25 18:47] mxstbr commented on #493
Feel free to tackle any that are unassigned, that would be awesome!! 👍

[2019-09-26 01:05] ChristianRoper commented on #490
@mxstbr Can you assign this one to me?

[2019-09-26 06:43] mxstbr opened #503 "Document useTheme hook (v5)"
Reference PR: https://github.com/styled-components/styled-components/pull/2765

Should go in the API section and maybe be used in the `theming` section!

[2019-09-26 06:43] mxstbr commented on #490
Done, can't wait for the PR! 👍

[2019-09-26 09:43] electrovagance commented on #492
Hello, may I claim this issue?

[2019-09-26 11:15] mxstbr commented on #492
Of course! :100:

[2019-09-26 12:18] #485 closed

[2019-09-26 13:28] #486 closed

[2019-09-26 14:28] #487 closed

[2019-09-27 00:09] galvc commented on #488
Hi, can I work on this one? Would love to help

[2019-09-27 08:32] idrisakmal commented on #489
Hello @mxstbr ! can you assign this to me?

[2019-09-27 09:47] mxstbr commented on #489
You got it, can't wait for your PR! 👍

[2019-09-27 09:47] mxstbr commented on #488
Please do! Excited for your PR :100:

[2019-09-28 18:54] apollonian commented on #503
I can help with this one, @mxstbr! ⚡️

[2019-09-28 19:35] BStephenBB opened #508 "Typo / grammar mistake in FAQ"
One of the questions states:

It should probably say:

I made #507 to fix this.

[2019-09-30 16:29] #495 closed

[2019-09-30 17:14] #508 closed

[2019-10-01 14:36] simplywondrous commented on #183
I can do this one :)

[2019-10-01 15:23] simplywondrous commented on #183
Looks like #565 was a request for documentation / clarity since Typescript didn't yet support generic tagged template literals. They now do with #microsoft/TypeScript#23430 - is documentation clarification still necessary?

[2019-10-01 19:01] lexcorp16 commented on #182
Hi @mxstbr is there a specific way you would like this to be worded? I would like to take this up

[2019-10-02 07:24] jnnck commented on #491
@mxstbr i think this issue can be closed? Since #513 has been merged

[2019-10-02 11:15] #491 closed

[2019-10-03 09:44] #492 closed

[2019-10-03 09:44] mxstbr commented on #490
Done in #515!

[2019-10-03 09:44] #490 closed

[2019-10-03 09:44] mxstbr commented on #493
Done!

[2019-10-03 09:44] #493 closed

[2019-10-03 13:03] ashishcodes4 commented on #488
hey @mxstbr ,
any updates on this one ?
is this completed or still pending ? I'd like to this up if not completed yet.

[2019-10-03 13:10] ashishcodes4 commented on #494
@mxstbr if this is not completed yet, I would want to complete this!

[2019-10-03 13:51] galvc commented on #488
Working on it

[2019-10-03 16:05] ashishcodes4 commented on #488
cool!

[2019-10-04 11:12] danrocha opened #523 "Blue Tomato Logo broken"
The logo for Blue Tomato is broken on the homepage:
<img width="535" alt="Screen Shot 2019-10-04 at 08 10 27" src="https://user-images.githubusercontent.com/5139870/66203336-84375f80-e67e-11e9-8178-26abc9b022ad.png">

The correct logo is:
<img width="239" alt="Screen Shot 2019-10-04 at 08 11 37" src="https://user-images.githubusercontent.com/5139870/66203395-a4671e80-e67e-11e9-9e06-3c3713b2eb26.pn

[2019-10-04 12:10] #523 closed

[2019-10-05 01:53] el1f commented on #489
Any word on this yet? Otherwise, I'd be happy to take over :)

[2019-10-05 01:55] el1f commented on #275
Any news on this @overra? I'd love to take over if you don't have enough time to complete it!

[2019-10-05 02:00] el1f commented on #188
This doesn't seem to be relevant anymore, does it? The Sidebar always seems to link to the correct target regardless of its contents

[2019-10-05 02:02] el1f commented on #16
Is this one still up for grabs?

[2019-10-05 02:03] probablyup commented on #16
I think this is probably superceded by the logo carousel

On Fri, Oct 4, 2019 at 10:02 PM Ayoub Aabass <notifications@github.com>
wrote:

[2019-10-05 02:38] idrisakmal commented on #489
@el1f pr is closed 😁

[2019-10-05 08:22] mxstbr commented on #16
I would still love to have a `/users` page that lists all users and links to the websites that they built with s-c (if they are public)! The carousel is sweet but a bit hard to see as there are so many logos already that it takes a couple minutes to cycle through them all.

A good first step would be to simply take all the logos we already have and render them as a list below each other, similar t

[2019-10-05 08:23] mxstbr commented on #16
Actually, I would rather finish https://github.com/styled-components/styled-components-website/pull/284 instead. Want to get that up to date and add mobile compatibility instead @el1f?

[2019-10-05 11:03] el1f commented on #16
It seems like something I can take up! Will get started on it at some point tomorrow :)

[2019-10-05 11:06] el1f commented on #489
Oh, nice! Didn't see it linked to the issue :)
Think this is ripe to be closed off then!

[2019-10-05 14:20] #188 closed

[2019-10-05 18:34] #489 closed

[2019-10-06 01:11] O45 commented on #503
https://github.com/styled-components/styled-components-website/pull/230#issuecomment-364654261

[2019-10-06 01:18] anjing-star opened #525 "Hack whatsapp"
Cara hack whatsapp temen atu pacar dari jarak jauh

[2019-10-07 19:00] galvc commented on #488
Hello @mxstbr My PR is failing the checks and I was wondering if I could have some help on how to fix it
This is the log that points to the problem:

FAIL  .next/static/8_6jsORi3BV1YDOHMgc--/pages/index.js: 253.97KB > maxSize 250KB (gzip)

Thanks a lot!

[2019-10-08 01:34] #525 closed

[2019-10-09 12:02] #488 closed

[2019-10-10 23:41] el1f commented on #86
Hey @kitten! I checked out #148 and it seems like a lot of work had been done but it was closed due to the absence of a clear focus on what the translation system would need to achieve structure-wise. Are we now in a clearer place to reopen the conversation regarding this extremely interesting feature?